<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div th:fragment="operationStatus">   
	    <div class="alert alert-icon alert-danger text-danger alert-dismissible fade show" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	        <i class="mdi mdi-alert"></i>
	         <span th:text="#{_operationStatus.unsuccess}"></span>
	    </div>
    </div>

</body>
</html>