<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div th:fragment="pageContent">
		<div id="operationStatus"> </div>
		<div style="margin-left: 30px;display: inline-flex;">
	    	<button style="margin-right: 10px" id="btn_import" class="btn btn-sm btn-light waves-effect">Importer<i class="mdi mdi-import" style="padding-left:10px;padding-right:10px;"></i></button>
	    	<button style="margin-right: 10px" id="btn_export" class="btn btn-sm btn-light waves-effect">Exporter<i class="mdi mdi-export" style="padding-left:10px;padding-right:10px;"></i></button>
	    	<button style="margin-right: 10px" id="btn_delete_row" class="btn btn-sm btn-danger waves-effect">Supprimer<i class="mdi mdi-trash-can" style="padding-left:10px;padding-right:10px;"></i></button>
	    
	    </div>
	    	
	        <div class="col-12" th:each="sectionFrame : ${frame.sectionFrames}">
	        	<h5  th:text="${sectionFrame.libelle}"></h5>
               <table class="table-bordered dt-responsive dtr-inline" id="tab" style="margin-top: 15px">
			        <thead>
			            <tr>
			            	<th style="max-width: 30px;"></th>
			                <th style="padding-left: 10px;padding-right: 10px;width: 500px;">Indicateur</th>
			                <th style="padding-left: 10px;padding-right: 10px;">Zone</th>
			                <th style="padding-left: 10px;padding-right: 10px;">Niveau Zone</th>
			                <th style="padding-left: 10px;padding-right: 10px;">Sous groupe</th>
			                <th style="padding-left: 10px;padding-right: 10px;">Unite</th>
			                <th style="padding-left: 10px;padding-right: 10px;">Source</th>
			                <th style="padding-left: 10px;padding-right: 10px;width: 50px;" th:each="periode : ${periodes}" th:text="${periode.libelle}"></th>
			                
			             </tr>
			        </thead>
			        <tbody>
			            <div th:each="indicateur : ${sectionFrame.indicateurs}">
			            		<div th:each="zone : ${sectionFrame.zones}">
			            			<div th:each="sousGroupe : ${indicateur.sousGroupes}">
			            				<div th:each="unite : ${indicateur.unites}">
			            					<div th:each="source : ${sectionFrame.sources}">
						            			<tr>
						            				<td><input type="checkbox" name="record"></td>
									                <td style="padding-left: 10px;padding-right: 10px;" th:text="${indicateur.libelle}"></td>
									                <td style="padding-left: 10px;padding-right: 10px;" th:text="${zone.libelle}"></td>
									                <td style="padding-left: 10px;padding-right: 10px;" th:text="${zone.niveau+1}"></td>
									                <td style="padding-left: 10px;padding-right: 10px;" th:text="${sousGroupe.libelle}"></td>
									                <td style="padding-left: 10px;padding-right: 10px;" th:text="${unite.libelle}"></td>
									                <td style="padding-left: 10px;padding-right: 10px;" th:text="${source.libelle}"></td>
									                <td th:each="periode : ${periodes}">
									                	<input style="width: 100%;" th:attr="id=${''+source.code+indicateur.code+zone.code+sousGroupe.code+unite.code+periode.code},source=${source.code},indicateur=${indicateur.code},periode=${periode.code},zone=${zone.code},sous_groupe=${sousGroupe.code},unite=${unite.code}" class="valeur_indicateur" name="valeur_indicateur[]" type="text">
									                </td>
									           
									            </tr>
									         </div>
								         </div>
							        </div>
					       		</div>
					       	
			            </div>
			           
			        </tbody>
			    </table> 
			    
	        </div>
	    
	    <div style="padding-left: 20px;padding-top:25px;display: inline-flex;">
	    	<div class="input-group input-group" style="width: 350px;margin-right:10px;">
				<select id="typeClassification" class="form-control" data-live-search="true">	
					<option th:each="typeClassification : ${typeClassifications}" th:attr="value=${typeClassification.code}"  th:text="${typeClassification.libelle}"></option>
				</select>
				<span class="input-group-append">
					<button id="btn_edit" type="button" class="btn btn-primary">Editer <i class="mdi mdi-pencil" style="padding-left:10px;padding-right:10px;"></i></button>
				</span>
			</div>
	    	<button id="btn_submit" class="btn btn-success waves-effect" style="padding-left:15px;padding-right:15px">Valider</button>
	    
	    </div>
		<script>
			$(document).ready(function () {
				$("#tab").colResizable();
				  $("#btn_delete_row").click(function(){
			            $("table tbody").find('input[name="record"]').each(function(){
			            	if($(this).is(":checked")){
			                    $(this).parents("tr").remove();
			                }
			            });
			        });
				  
				$(".valeur_indicateur").each(function(){
					var data = [];
					indicateur = $(this).attr('indicateur'); 
					data[0] = indicateur;
					source = $(this).attr('source');
					data[1] = source;
					periode = $(this).attr('periode');
					data[2] = periode;
					zone = $(this).attr('zone');
					data[3] = zone;
					sous_groupe = $(this).attr('sous_groupe');
					data[4] = sous_groupe;
					unite = $(this).attr('unite');
					data[5] = unite;
					
					$.post('/getDonneeIndicateur',{params:data},function(dat){
						$("#"+data[1]+data[0]+data[3]+data[4]+data[5]+data[2]).val(dat);
						
					});
				});
				
				$('td input').bind('paste', null, function(e) {
		            $input = $(this);
		            setTimeout(function() {
		                var values = $input.val().split(/\s+/),
		                    row = $input.closest('tr'),
		                    col = $input.closest('td').index();
		                for (var i = 0; i < values.length; i++) {
		                    row.children().eq(col).find('input').val(values[i]);
		                    row = row.next();
		                }
		            }, 0);
		        });
				
				$('#btn_edit').click(function(){
					var data = [];
					typeClassification = $('#typeClassification').val();
					$(".valeur_indicateur").each(function(){
						var str = "";
						indicateur = $(this).attr('indicateur'); 
						str = str + indicateur;
						source = $(this).attr('source');
						str = str +"/" + source;
						periode = $(this).attr('periode');
						str = str +"/" + periode;
						zone = $(this).attr('zone');
						str = str +"/" + zone;
						if(data.indexOf(str) < 0)
						{
							data.push(str);
						
						}
							
						
					});	
						$.post('/editParametreSaisie/'+typeClassification,{params:data},function(dat){
							$('body').html(dat);
						});
					
				});
				
				
				$('#btn_export').click(function(){
					var data = [];
					var periodes = [];
					$(".valeur_indicateur").each(function(){
						var str = "";
						indicateur = $(this).attr('indicateur'); 
						str = str + indicateur;
						zone = $(this).attr('zone');
						str = str +"/" + zone;
						sous_groupe = $(this).attr('sous_groupe');
						str = str +"/" + sous_groupe;
						unite = $(this).attr('unite');
						str = str +"/" + unite;
						source = $(this).attr('source');
						str = str +"/" + source;
						periode = $(this).attr('periode');
						valeur = $(this).val();
						if(data[str] != null)
						{
							data[str] = data[str]+"/"+valeur+"@"+periode;
							
						}
						else
						{
							data[str] = str +"/"+valeur+"@"+periode;
							
						}
						
						
						if(!periodes.includes(periode))
							periodes.push(periode);
						
					});
					data = Object.values(data);
					
					var form = document.createElement("form");
					form.method = "post";
				    form.action = "/exportDonneeIndicateur";
				    document.body.appendChild(form);
				    
				    periodes.forEach(function(code){
				    	var input = document.createElement('input');
				    	input.type = 'hidden';
				    	input.name = 'periodes[]';
				    	input.value = code;
				        form.appendChild(input);
					});
				    
				    data.forEach(function(code){
				    	var input = document.createElement('input');
				    	input.type = 'hidden';
				    	input.name = 'data[]';
				    	input.value = code;
				        form.appendChild(input);
					});
					
				    form.submit();
				    document.body.removeChild(form);
				    
						/*$.post('/exportDonneeIndicateur',{data:data,periodes:periodes},function(dat){
							
						});*/
				});
				
				$('#btn_submit').click(function(){
					var data = [];
					$(".valeur_indicateur").each(function(){
						var str = "";
						indicateur = $(this).attr('indicateur'); 
						str = str + indicateur;
						source = $(this).attr('source');
						str = str +"/" + source;
						periode = $(this).attr('periode');
						str = str +"/" + periode;
						zone = $(this).attr('zone');
						str = str +"/" + zone;
						sous_groupe = $(this).attr('sous_groupe');
						str = str +"/" + sous_groupe;
						unite = $(this).attr('unite');
						str = str +"/" + unite;
						valeur = $(this).val();
						str = str +"/" + valeur;
						
						data.push(str);
						
					});	
						$.post('/ajoutDonneeIndicateur',{params:data},function(dat){
							
						});
					
					
					msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
								+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
									+'<span aria-hidden="true">&times;</span>'
								+'</button>'
								+'<i class="mdi mdi-information"></i>'
						 		+'Opération effectuée avec succès'
						+'</div>';
					 
					$(".valeur_indicateur").val('');
					$('#operationStatus').html(msg);
					
				});
				
			});

		</script>
	</div>
	
</body>
</html>