<div th:fragment="menu2">
	<nav class="pcoded-navbar">
		<div class="pcoded-inner-navbar">
			<ul class="pcoded-item pcoded-left-item">
				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-layout-cta-right"></i><b>N</b></span>
						<span class="pcoded-mtext">Nomenclatures</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded">
							<a href="/zone" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Découpage
									administratif</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>

						<li class="pcoded">
							<a href="/intervenant" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Intervenants /Acteurs</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="etablissementScolaire" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Etablissements
									scolaires</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>


						<li class="pcoded">
							<a href="formationSanitaire" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Formations sanitaires</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="lieuPublic" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Lieux public</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="recencementINS" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Population /ménages
									(INS)</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Bassins hydrographiques /
									sous-bassins</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Unités de gestion de
									l'eau</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Nomenclatures /table de
									valeurs</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-home"></i></span>
								<span class="pcoded-mtext">Référentiel des indicateurs
								</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>

					</ul>
				</li>
				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">Eaux</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Eaux météoriques</span>
								<span class="pcoded-mcaret"></span>
							</a>

						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Eaux de surface</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>

					</ul>
				</li>


				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">Ouvrages</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="/initPEM" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Ouvrage d’approvisionnement
									en eau potable</span>
								<span class="pcoded-mcaret"></span>
							</a>

						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Ouvrage d’hygiène et
									d’assainissement</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Ouvrage et équipement de
									connaissance, de suivi de la
									ressource en eau</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>


					</ul>
				</li>


				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">Programmation</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Programmation des AEP </span>
								<span class="pcoded-mcaret"></span>
							</a>

						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Programmation des SPP</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Programmation des
									forages</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Programmation de la
									SPEN</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">PTBA</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Programmation physique des
									régions</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Programmation financière des
									régions</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>


					</ul>
				</li>

				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">Réalisations</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">réalisations physique et
									financière des
									intervenants </span>
								<span class="pcoded-mcaret"></span>
							</a>

						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Bilan consolidé des
									réalisations physiques des
									régions</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Bilan consolidé des
									réalisations financières des
									régions</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Bilan des réalisations
									physiques de la SPEN</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Bilan de l'exécution
									financière par rubrique de la
									SPEN</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Bilan financier de la SPEN
									par action</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Bilan réalisation des
									indicateurs</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
					</ul>
				</li>
				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">Finances</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Plan de passation des marchés
									public</span>
								<span class="pcoded-mcaret"></span>
							</a>
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Plan de consommation des
									crédits</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Planning Détaillé des marchés
									publics</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Evaluation plan de passation
									des marchés
									publics</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Evaluation plan de
									consommation des crédits</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
					</ul>
				</li>
				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">validation</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Validation de données</span>
								<span class="pcoded-mcaret"></span>
							</a>

						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Traitement sur les
									indicateurs</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Elaboration de tableau de
									bord</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
					</ul>
				</li>

				<li class="pcoded-hasmenu">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i
								class="ti-direction-alt"></i><b>O</b></span>
						<span class="pcoded-mtext">Consultation</span>
						<span class="pcoded-mcaret"></span>
					</a>
					<ul class="pcoded-submenu">
						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Recherche de données</span>
								<span class="pcoded-mcaret"></span>
							</a>

						<li class="pcoded ">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-angle-right"></i></span>
								<span class="pcoded-mtext">Consultation d'états
									standard</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Requête libre</span>
								<span class="pcoded-mcaret"></span>
							</a>
						</li>
						<li class="pcoded">
							<a href="javascript:void(0)" class="waves-effect waves-dark">
								<span class="pcoded-micon"><i
										class="ti-direction-alt"></i></span>
								<span class="pcoded-mtext">Système d'information
									géographique</span>
								<span class="pcoded-mcaret"></span>
							</a>
					</ul>
				</li>
			</ul>
			<!-- 
		<li class="pcoded-hasmenu">
			<a href="javascript:void(0)" class="waves-effect waves-dark">
				<span class="pcoded-micon"><i class="ti-direction-alt"></i><b>O</b></span>
				<span class="pcoded-mtext">diffusion</span>
				<span class="pcoded-mcaret"></span>
			</a>
			<ul class="pcoded-submenu">
				<li class="pcoded ">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
						<span class="pcoded-mtext">Site web du SISEAN</span>
						<span class="pcoded-mcaret"></span>
					</a>
			</ul>
		</li>


		<li class="pcoded-hasmenu">
			<a href="javascript:void(0)" class="waves-effect waves-dark">
				<span class="pcoded-micon"><i class="ti-direction-alt"></i><b>O</b></span>
				<span class="pcoded-mtext">Administration</span>
				<span class="pcoded-mcaret"></span>
			</a>
			<ul class="pcoded-submenu">
				<li class="pcoded ">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
						<span class="pcoded-mtext">Gestion des rôles et des profils</span>
						<span class="pcoded-mcaret"></span>
					</a>
				</li>
				<li class="pcoded ">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
						<span class="pcoded-mtext">Gestion des utilisateurs</span>
						<span class="pcoded-mcaret"></span>
					</a>
				</li>
				<li class="pcoded ">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
						<span class="pcoded-mtext">Synchronisation de bases de données</span>
						<span class="pcoded-mcaret"></span>
					</a>
				</li>
				<li class="pcoded ">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
						<span class="pcoded-mtext">Génération de code IRH</span>
						<span class="pcoded-mcaret"></span>
					</a>
				</li>
				<li class="pcoded ">
					<a href="javascript:void(0)" class="waves-effect waves-dark">
						<span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
						<span class="pcoded-mtext">Sauvegarde /Restauration </span>
						<span class="pcoded-mcaret"></span>
					</a>
				</li>
			</ul>
		</li>
		 -->
		</div>
	</nav>
</div>