<div th:fragment="menu1">
	<nav class="navbar header-navbar pcoded-header">
		<div class="navbar-wrapper">
			<div class="navbar-logo">
				<a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
					<i class="ti-menu"></i>
				</a>

				<a href="">
					<img class="img-fluid logo" src="/assets/images/logo-blanc-transparent.png"
						alt="Theme-Logo" />
				</a>
				<a class="mobile-options waves-effect waves-light">
					<i class="ti-more"></i>
				</a>
			</div>


			<div class="navbar-container container-fluid">
				<ul class="nav-left">
					<li>
						<div class="sidebar_toggle"><a href="javascript:void(0)"><i
									class="ti-menu"></i></a>
						</div>
					</li>
				</ul>
				<ul class="nav-right">

					<li>
						<a href="http://localhost:8080/sig_sinea"
							onclick="javascript:toggleFullScreen()"
							class="waves-effect waves-light">
							<i class="fa fa-map-o"></i>
							&nbsp; SIG
						</a>
					</li>
					<li class="header-notification">
						<a href="#!" class="waves-effect waves-light">
							<i class="ti-bell"></i>
							<span class="badge bg-c-red"></span>
						</a>
						<ul class="show-notification">
							<li>
								<h6>Notifications</h6>

							</li>
							<li class="waves-effect waves-light">
								<div class="media">

									<div class="media-body">
										<h5 class="notification-user">Validation
											en attente</h5>
										<p class="notification-msg">La région de
											Maradi a envoyé des données qui
											sont en attente de validation.
										</p>
										<span class="notification-time">30
											minutes ago</span>
									</div>
								</div>
							</li>
							<li class="waves-effect waves-light">
								<div class="media">
									<div class="media-body">
										<h5 class="notification-user">Validation
											en attente</h5>
										<p class="notification-msg">La région de
											Zinder a envoyé des données qui
											sont en attente de validation.
										</p>
										<span class="notification-time">30
											minutes ago</span>
									</div>
								</div>
							</li>
							<li class="waves-effect waves-light">
								<div class="media">
									<div class="media-body">
										<h5 class="notification-user">Validation
											en attente</h5>
										<p class="notification-msg">La région de
											Tillaberi a envoyé des données
											qui sont en attente de
											validation.</p>
										<span class="notification-time">30
											minutes ago</span>
									</div>
								</div>
							</li>
						</ul>
					</li>

					<li class="user-profile header-notification">
						<a href="#!" class="waves-effect waves-light">
							<img src="/assets/images/avatar.jpg" class="img-radius"
								alt="User-Profile-Image">
							<span>Admin</span>
							<i class="ti-angle-down"></i>
						</a>
						<ul class="show-notification profile-notification">

							<li class="waves-effect waves-light">
								<a href="#">
									<i class="ti-user"></i> Mon compte
								</a>
							</li>
							<li class="waves-effect waves-light">
								<a href="/logout">
									<i class="ti-layout-sidebar-left"></i>
									Déconnexion
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>