<section class="section section-xxl section-inset-1 bg-image"
        style="background-image: url(/publique/assets/images/bg-cta-1.jpg);">
        <div class="container box-cta">
                <h3 class="text-spacing-75 text-black-800 wow fadeScale"
                        style="visibility: visible; animation-name: fadeScale;">Statistiques sur l'hygienne et
                        l'assainissement </h3>
        </div>
</section>
<section>
        <div class="container">


                <h3> Filtres</h3>

                <div class="row">
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="region">Région</label>
                                        <select id="select_region" class="form-control">
                                                <option value="">Sélectionner la region</option>

                                        </select>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="departement">Département</label>
                                        <select id="select_departement" class="form-control">
                                                <option value="">Sélectionner le département</option>
                                        </select>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="commune">Commune</label>
                                        <select id="select_commune" class="form-control">
                                                <option value="">Sélectionner la commune</option>
                                        </select>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="localite">Localité</label>
                                        <select id="select_localite" class="form-control">
                                                <option value="">Sélectionner la localité</option>
                                        </select>
                                </div>
                        </div>

                        <div class="col text-center">
                                <button class="button button-lg button-primary"> Filtrer</button>
                        </div>
                </div>
        </div>
</section>

<section class="section mt-3 ">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-12">
                                <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <table id="tab"
                                                                class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                                role="grid" aria-describedby="tab_info">
                                                                <thead>
                                                                        <tr role="row">
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Region</th>
                                                                                <th colspan="8"><b>Maternelle</b></th>
                                                                                <th colspan="8"><b>Primaire</b></th>
                                                                                <th colspan="8"><b>Collége</b></th>


                                                                        </tr>
                                                                        <tr role="row">
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école maternelle</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école primaire</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école collége</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>

                                                                        </tr>

                                                                </thead>
                                                                <tbody>
                                                                        <tr class="">

                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>

<section class="section mt-3 ">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-12">
                                <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <table id="tab"
                                                                class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                                role="grid" aria-describedby="tab_info">
                                                                <thead>
                                                                        <tr role="row">
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Region</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Département</th>
                                                                                <th colspan="8"><b>Maternelle</b></th>
                                                                                <th colspan="8"><b>Primaire</b></th>
                                                                                <th colspan="8"><b>Collége</b></th>
                                                                                <th colspan="8"><b>Totaux</b></th>


                                                                        </tr>
                                                                        <tr role="row">
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école maternelle</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école primaire</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école collége</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école collége</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>

                                                                        </tr>

                                                                </thead>
                                                                <tbody>
                                                                        <tr class="">

                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<section class="section mt-3 ">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-12">
                                <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <table id="tab"
                                                                class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                                role="grid" aria-describedby="tab_info">
                                                                <thead>
                                                                        <tr role="row">
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Region</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Département</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Commune</th>
                                                                                <th colspan="8"><b>Maternelle</b></th>
                                                                                <th colspan="8"><b>Primaire</b></th>
                                                                                <th colspan="8"><b>Collége</b></th>
                                                                                <th colspan="8"><b>Totaux</b></th>


                                                                        </tr>
                                                                        <tr role="row">
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école maternelle</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école primaire</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école collége</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        Total école collége</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        Avec PME</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        %</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Avec Latrine</th>

                                                                        </tr>

                                                                </thead>
                                                                <tbody>
                                                                        <tr class="">

                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
<section class="section mt-3 ">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-12">
                                <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <table id="tab"
                                                                class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                                role="grid" aria-describedby="tab_info">
                                                                <thead>
                                                                        <tr role="row">
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Region</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Département</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Commune</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        NB Village</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        NB déclenché</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        NB Certifié</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        % de déclenchement</th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        % de certification</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr class="">

                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>