<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div> 
		<div class="modal fade" id="myModal" tabindex="-1">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" th:text="${indicateur.libelle}" ></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <label><b th:text="#{_definition}"></b></label>
		        <p th:text="${ficheTechnique.definition}"></p>
		        <label><b th:text="#{_donneesRequises}"></b></label>
		        <p th:text="${ficheTechnique.donneesRequises}"></p>
		        <label><b th:text="#{_methodeCalcul}"></b></label>
		        <p th:text="${ficheTechnique.methodeCalcul}"></p>
		        <label><b th:text="#{_commentaireLimite}"></b></label>
		        <p th:text="${ficheTechnique.commentaireLimite}"></p>
		        <label><b th:text="#{_periodicite}"></b></label>
		        <p th:text="${ficheTechnique.periodicite}"></p>
		        <label><b th:text="#{_niveauDesagregation}"></b></label>
		        <p th:text="${ficheTechnique.niveauDesagregation}"></p>
		        <label><b th:text="#{_unite}"></b></label>
		        <p th:text="${ficheTechnique.unite}"></p>
		        <label><b th:text="#{_source}"></b></label>
		        <p th:text="${ficheTechnique.source}"></p>
		        <label><b th:text="#{_methodeCollecte}"></b></label>
		        <p th:text="${ficheTechnique.methodeCollecte}"></p>
		      </div>
		      <div class="modal-footer">
		        <a href="#" class="btn btn-danger" data-dismiss="modal">Fermer </a>
		      </div>
		    </div>   
		  </div>
		</div>
	</div>
</body>
</html>
