<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs tabs-bordered">
					<li class="nav-item">
						<a href="#tab_form" data-toggle="tab" aria-expanded="false" class="nav-link active" th:text="#{_ajouter}"></a>
					</li>
					<li class="nav-item">
						<a href="#tab_list" data-toggle="tab" aria-expanded="true" class="nav-link" th:text="#{_afficher}"></a>
					</li>
					<li class="nav-item">
						<a href="#tab_upload" data-toggle="tab" aria-expanded="false" class="nav-link" th:text="#{_importer}"></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_form">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<h5 class="font-16 m-1" th:text="#{_localite}"></h5>
							</div>
							<div class="card-body">
								<form  class="form-validation" th:object="${localiteForm}" method="post">
									<div class="form-group">
										<label for="libelle" th:text="#{_libelle}"> <span class="text-danger">*</span></label>
										<input type="text" th:field="*{libelle}" required class="form-control" th:classappend="${#fields.hasErrors('libelle')} ? 'border-danger'">
										<small class="text-danger" th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}"></small>
									</div>
									<div class="form-group">
										<label for="codeINS" th:text="#{_codeINS}"> <span class="text-danger">*</span></label>
										<input type="text" th:field="*{codeINS}" required class="form-control" th:classappend="${#fields.hasErrors('codeINS')} ? 'border-danger'">
										<small class="text-danger" th:if="${#fields.hasErrors('codeINS')}" th:errors="*{codeINS}"></small>
									</div>
									<div class="form-group">
										<label for="codeTypeLocalite" th:text="#{_typeLocalite}"><span class="text-danger">*</span></label>
										<select class="form-control" data-live-search="true" th:field="*{codeTypeLocalite}">
											<option value="">Choisir une option</option>
											<option th:each="typeLocalite : ${typeLocalites}" th:attr="value=${typeLocalite.code}"  th:text="${typeLocalite.libelle}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="codeLocaliteRattachement" th:text="#{_localiteRattachement}"><span class="text-danger">*</span></label>
										<select class="form-control" data-live-search="true" th:field="*{codeLocaliteRattachement}">
											<option value="">Choisir une option</option>
											<option th:each="localite : ${localites}" th:attr="value=${localite.code}"  th:text="${localite.libelle}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="codeCommune" th:text="#{_commune}"><span class="text-danger">*</span></label>
										<select class="form-control" data-live-search="true" th:field="*{codeCommune}">
											<option value="">Choisir une option</option>
											<option th:each="commune : ${communes}" th:attr="value=${commune.code}"  th:text="${commune.libelle}"></option>
										</select>
									</div>
									
									<div class="form-group text-right mb-0">
										<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
										<button type="reset" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
									</div>
			
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_list">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<b class="font-16" th:text="#{_listeLocalite}"></b>
								<a href="/downloadLocalite" class="btn btn-sm btn-primary float-right"><i class="mdi mdi-file-excel"></i> <span th:text="#{_exporter}"></span></a>
							</div>
							<div class="card-body">
								 <table id="table_localite" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_libelle}"></th>
											<th th:text="#{_codeINS}"></th>
											<th th:text="#{_typeLocalite}"></th>
											<th th:text="#{_commune}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="localite : ${localites}">
											<td th:text="${localite.libelle}"></td>
											<td th:text="${localite.codeINS}"></td>
											<td th:text="${localite.typeLocalite.libelle}"></td>
											<td th:text="${localite.commune.libelle}"></td>
											<td align="center" > 
												<a th:href="@{/updateLocalite/{code}(code=${localite.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteLocalite/'+localite.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_upload">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<h5 class="font-16 m-1" th:text="#{_importer}"></h5>
							</div>
							<div class="card-body">
								<form  action="/uploadLocalite" class="form-validation"  enctype="multipart/form-data" method="post">
									<div class="form-group">
										<label for="file" th:text="#{_fichierupload}"> <span class="text-danger">*</span></label>
										<input type="file" name="file" class="filestyle" data-btnClass="btn-primary">
									</div>
									
									<div class="form-group text-right mb-0">
										<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
										<button type="reset" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
									</div>
			
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
		<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>
	</div>
</body>
</html>