<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header titre-page">
                <h2>Enregistrement d'ouvrage d'assainissement</h2>
                <span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="" method="post">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="codeINS" name="codeINS" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Code INS </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="indentification" name="indentification" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">L'identification de lieu de vie </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="number" id="nbDispositifInterieur" name="nbDispositifInterieur"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Nombre de dispositif lavage à l'interieur </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="number" id="nbDispositifEnceinte" name="nbDispositifEnceinte"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Nombre de dispositif lavage à l'enceinte </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeLieu">Lieu <span class="text-danger">*</span></label>
                                <select name="codeLieu" class="form-control" data-live-search="true" id="codeLieu">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="lieu : ${lieu}" th:attr="value=${lieu.code}"
                                        th:text="${lieu.libelle}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeTypeLatrine">Type latrine <span class="text-danger">*</span></label>
                                <select name="codeTypeLatrines" class="form-control" data-live-search="true"
                                    id="codeTypeLatrine">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="typeLatrine : ${typeLatrine}" th:attr="value=${typeLatrine.code}"
                                        th:text="${typeLatrine.libelle}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeTypeOuvrageAssainissement">Type d'ouvrage et d'assainissement <span
                                        class="text-danger">*</span></label>
                                <select name="codeTypeOuvrageAssainissement" class="form-control"
                                    data-live-search="true" id="codeTypeOuvrageAssainissement">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="typeOuvrageAssainissement : ${typeOuvrageAssainissement}"
                                        th:attr="value=${typeOuvrageAssainissement.code}"
                                        th:text="${typeOuvrageAssainissement.libelle}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-sm-12 pull-right">
                        <button type="submit" class="btn btn-primary m-b-0"> <i class="fa fa-save"></i>
                            Enregistrer </button>
                        <a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i>
                            Annuler
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" style="border: solid 3px #e0e4e7;margin:15px;padding:10px">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
            <thead>
                <tr>
                    <th>Code INS</th>
                    <th>Identification de lieu de vie</th>
                    <th>Nombre de dispositif lavage à l'interieur</th>
                    <th>Nombre de dispositif lavage à l'enceinte</th>
                    <th>Lieu</th>
                    <th>Type latrine </th>
                    <th>Type d'ouvrage</th>
                    <th>Action </th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="ouvragesAssainissement : ${ouvragesAssainissement}">
                    <td th:text="${ouvragesAssainissement.codeINS}"></td>
                    <td th:text="${ouvragesAssainissement.indentification}"></td>
                    <td th:text="${ouvragesAssainissement.nbDispositifInterieur}"></td>
                    <td th:text="${ouvragesAssainissement.nbDispositifEnceinte}"></td>
                    <td th:text="${ouvragesAssainissement.lieu.libelle}"></td>
                    <td th:text="${ouvragesAssainissement.typeLatrines.libelle}"></td>
                    <td th:text="${ouvragesAssainissement.typeOuvrageAssainissement.libelle}"></td>
                    <td align="center">
                        <a th:href="@{/updateOuvragesAssainissement/{code}(code=${ouvragesAssainissement.code})}"
                            class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span
                                th:text="#{_modifier}"></span></a>
                        <a th:href="@{/deleteOuvragesAssainissement/{code}(code=${ouvragesAssainissement.code})}"
                            th:attr="deleteLink=${'/deleteOuvragesAssainissement/'+ouvragesAssainissement.code}"
                            data-toggle="modal" data-target="#deleteConfirmation"
                            class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span
                                th:text="#{_supprimer}"></span></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>