<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header titre-page">
				<h2>Enregistrement projet</h2>
				<span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<form class="form-material" method="post">
			<div class="card">
				<div class="card-header">
					<h5>Informations générales</h5>
				</div>
				<div class="card-body">
					<div class="row pt-3">
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="libelle" name="libelle" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Libellé </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="zoneIntervention" name="zoneIntervention" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Zone d'intervention </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="date" placeholder=" " class="form-control" required="" id="dateDebut"
									name="dateDebut">
								<span class="form-bar"></span>
								<label for="dateDebut" class="float-label">Date début </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="date" placeholder=" " class="form-control" required="" id="dateFin"
									name="dateFin">
								<span class="form-bar"></span>
								<label for="dateFin" class="float-label">Date fin </label>
							</div>
						</div>
					</div>
					<div class="row pt-4">
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="financement" name="financement" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Financement </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="number" placeholder=" " class="form-control" required="" id="montant"
									name="montant">
								<span class="form-bar"></span>
								<label for="montant" class="float-label">Montant </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="maitreOuvrage" name="maitreOuvrage" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Maitre d'ouvrage </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="maitreOeuvre" name="maitreOeuvre" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Maitre d'oeuvre </label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row m-4">
							<div class="col-sm-12 pull-right">
								<button type="submit" class="btn btn-primary m-b-0" id="submit"> <i
										class="fa fa-save"></i>
									Enregistrer </button>
								<a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i>
									Annuler
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row" style="border: solid 3px #e0e4e7;margin:15px;padding:10px">
	<div class="col-lg-12">
		<table class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
			<thead>
				<tr>
					<th>Libellé</th>
					<th>Zone d'intervention</th>
					<th>Date début</th>
					<th>Date fin</th>
					<th>Financement</th>
					<th>Montant</th>
					<th>Maitre d'ouvrage</th>
					<th>Maitre d'oeuvre</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="projet : ${projets}">
					<td th:text="${projet.libelle}"></td>
					<td th:text="${projet.zoneIntervention}"></td>
					<td th:text="${projet.dateDebut}"></td>
					<td th:text="${projet.dateFin}"></td>
					<td th:text="${projet.financement}"></td>
					<td th:text="${projet.montant}"></td>
					<td th:text="${projet.maitreOuvrage}"></td>
					<td th:text="${projet.maitreOeuvre}"></td>
					<td align="center">
						<a th:href="@{/updateProjet/{code}(code=${projet.code})}" class="btn btn-primary btn-xs"><i
								class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
						<a href="#" th:attr="deleteLink=${'/deleteProjet/'+projet.code}" data-toggle="modal"
							data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i
								class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>