<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SINEA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Système d'Information National sur l'Eau et l'Environnement." />
    <meta name="keywords" content="">
    <meta name="author" content="Sirba Communication" />

    <!-- Favicon icon -->

    <link rel="icon" href="./assets/images/logo.png" type="image/x-icon">

    <!--<link rel="icon" href="/assets/images/log.ico" type="image/x-icon">
    <link href="/assets/glyphicon/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
	<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />-->

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="./assets/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="./assets/pages/waves/css/waves.min.css" type="text/css" media="all">

    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="./assets/bower_components/sweetalert/css/sweetalert.css">
    <!-- animation nifty modal window effects css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/component.css">

    <!-- list css -->
    <link rel="stylesheet" type="text/css" href="/assets/pages/list-scroll/list.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/stroll/css/stroll.css">

    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" href="./assets/pages/prism/prism.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/pcoded-horizontal.min.css">

    <script th:src="@{/assets/js/jquery-2.0.2.min.js}"></script>
    <link th:href="@{/assets/css/zTreeStyle.css}" rel="stylesheet" type="text/css" />

</head>
<!-- Menu horizontal fixed layout -->

<body>

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-container">
            <div th:replace="menu1 :: menu1"> </div>

            <div class="pcoded-main-container">
                <div th:replace="menu2 :: menu2"> </div>
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <!-- Main-body start -->
                            <div class="main-body">
                                <!-- <div class="main-body" style="margin-top: 70px;">-->
                                <div class="page-wrapper">

                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- Default card start -->
                                                <div class="card">
                                                    <div class="card-header titre-page">
                                                        <h2>Gestion des nomenclatures</h2>
                                                        <span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5> Nomenclatures </h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <ul class="scroll-list wave"
                                                            style="overflow: hidden; width: auto;">
                                                            <li>
                                                                <a href="/disponibiliteEau">
                                                                    <h6> Disponibilité d'eau </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/disponibiliteEauPVC">
                                                                    <h6> Disponibilité d'eau PVC</h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/disposition">
                                                                    <h6> Disposition </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/etatCompteurForageMiniAEP">
                                                                    <h6> Etat compteur forage mini AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/etatOuvrage">
                                                                    <h6> Etat des ouvrages </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/etatPointEau">
                                                                    <h6> Etat point d'eau </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/financement">
                                                                    <h6> Financement </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/hydraulique">
                                                                    <h6> Hydraulique </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/lieu">
                                                                    <h6> Lieu </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/marquePompe">
                                                                    <h6> Marque de la pompe </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/marqueOnduleur">
                                                                    <h6> Marque de l'onduleur </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/marqueModuleMiniAEP">
                                                                    <h6> Marque module mini AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/materiaux">
                                                                    <h6> Matériaux </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/methodeTraitementEauEcole">
                                                                    <h6> Méthode du traitement d'eau à l'école </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/milieu">
                                                                    <h6> Milieu </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/modelePompe">
                                                                    <h6> Modèle de la pompe </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/natureSol">
                                                                    <h6> Nature du sol </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/natureTube">
                                                                    <h6> Nature du tube </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/paramQualiteEau">
                                                                    <h6> Paramètre qualité météo </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/parametreStationHydrometrique">
                                                                    <h6> Paramètre station hydromètrique </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/parametreStationMeteo">
                                                                    <h6> Paramètre station météo </h6>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="/periode">
                                                                    <h6> Période </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/propriete">
                                                                    <h6> Propriété </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/qualiteEauAep">
                                                                    <h6> Qualité d'eau AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/quantiteEauAep">
                                                                    <h6> Quantité d'eau AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/raisonNonTraitementEau">
                                                                    <h6> Raison non traitement d'eau </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/traitementEauEcole">
                                                                    <h6> Traitement d'eau à l'école </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/tuyauterie">
                                                                    <h6> Tuyauterie </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeClassification">
                                                                    <h6> Type classification </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeBranchement">
                                                                    <h6> Type de branchement </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeAmenagement">
                                                                    <h6> Type d'amenagement </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeAnalyse">
                                                                    <h6> Type d'analyse </h6>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="/typeEquipement">
                                                                    <h6> Type d'équipement </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeEquipementStationHydrometrique">
                                                                    <h6> Type d'équipement station hydromètrique </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeEquipementStationMeteo">
                                                                    <h6> type d'équipement station météo </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeEtablissementScolaire">
                                                                    <h6> Type d'établissement scolaire </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeExhaure">
                                                                    <h6> Type d'exhaure </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeInstallationMiniAEP">
                                                                    <h6> Type d'installation mini AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeIntervenant">
                                                                    <h6> Type d'intervenant </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeOuvrage">
                                                                    <h6> Type d'ouvrage </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeOuvrageAssainissement">
                                                                    <h6> Type d'ouvrage d'assainissement </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeTube">
                                                                    <h6> Type du tube </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeUsage">
                                                                    <h6> Type d'usage </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeLatrines">
                                                                    <h6> Type latrine </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeLieuPublic">
                                                                    <h6> Type lieu public </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typePieceRegulationReseau">
                                                                    <h6> Type pièce régulation reseau </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typePlanEau">
                                                                    <h6> Type plan d'eau </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typePrestation">
                                                                    <h6> Type prestation </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typePrestationEquipement">
                                                                    <h6> Type prestation d'équipement </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typePrestationForage">
                                                                    <h6> Type prestation forage </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typePuits">
                                                                    <h6> Type puits </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeReseau">
                                                                    <h6> Type réseau </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeReservoir">
                                                                    <h6> Type réservoir </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeRessource">
                                                                    <h6> Type ressource </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeRessourceStationHydrometrique">
                                                                    <h6> Type ressource station hydromètrique </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeStationMeteo">
                                                                    <h6> Type station météo </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeSystemeAEP">
                                                                    <h6> Type système AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeSystemeInstallation">
                                                                    <h6> Type système d'installation </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeSystemeProtection">
                                                                    <h6> Type système protection </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/typeTableauDeDistributionMiniAEP">
                                                                    <h6> Type tableau de distribution mini AEP </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/unite">
                                                                    <h6> Unité </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/uniteMesure">
                                                                    <h6> Unité de mesure </h6>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/usageSourceEauEcole">
                                                                    <h6> Usage source d'eau à l'école </h6>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5> Modification </h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div th:replace="${viewPath}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page body end -->

                                </div>
                            </div>
                            <!-- Main-body end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popup"> </div>

    <script th:src="@{/assets/js/jquery-2.0.2.min.js}"></script>

    <!-- Required Jquery -->
    <script type="text/javascript" src="/assets/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/assets/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/assets/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/bower_components/modernizr/js/css-scrollbars.js"></script>

    <!--<script type="text/javascript" src="./assets/bower_components/chart.js/js/Chart.js"></script>-->
    <script src="/assets/js/pcoded.min.js"></script>

    <script src="/assets/js/vertical/menu/menu-hori-fixed.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="./assets/js/script.js"></script>
    <script th:src="@{/assets/js/jquery.ztree.core.js}"></script>
    <script th:src="@{/assets/js/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/assets/js/jquery.ztree.exedit.js}"></script>
    <script th:src="@{/assets/js/colResizable-1.6.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".tab-content").tabs('select', 0);
        });
    </script>
    <script src="/assets/highcharts10/highcharts.js"></script>
    <script src="/assets/highcharts10/modules/series-label.js"></script>
    <script src="/assets/highcharts10/modules/exporting.js"></script>
    <script src="/assets/highcharts10/modules/export-data.js"></script>
    <script src="/assets/highcharts10/modules/accessibility.js"></script>
    <script th:src="@{/assets/js/colResizable-1.6.min.js}"></script>

    <!-- list-scroll js -->
    <script src="assets/bower_components/stroll/js/stroll.js"></script>
    <script type="text/javascript" src="/assets/pages/list-scroll/list-custom.js"></script>
    <!-- sweet alert js -->
    <script type="text/javascript" src="/assets/bower_components/sweetalert/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/assets/js/modal.js"></script>
    <!-- sweet alert modal.js intialize js -->
    <!-- modalEffects js nifty modal window effects -->
    <script src="/assets/js/classie.js"></script>
    <script type="text/javascript" src="/assets/js/modalEffects.js"></script>
</body>

</html>