<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header titre-page">
                <h2>Enregistrement marché</h2>
                <span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="" method="post">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="anneeMarchesPublique" name="anneeMarchesPublique"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Année du marché
                                    publique </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="objet" name="objet" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">L'objet du marché </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="number" id="coutPrevisionnel" name="coutPrevisionnel" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Coût prévisionnel </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeTypeMarches">Type marché <span class="text-danger">*</span></label>
                                <select name="codeTypeMarches" class="form-control" data-live-search="true"
                                    id="codeTypeMarches">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="typeMarche : ${typeMarches}" th:attr="value=${typeMarche.code}"
                                        th:text="${typeMarche.libelle}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeModePassation">Mode de passation <span
                                        class="text-danger">*</span></label>
                                <select name="codeModePassation" class="form-control" data-live-search="true"
                                    id="codeModePassation">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="modePassation : ${modePassations}"
                                        th:attr="value=${modePassation.code}" th:text="${modePassation.libelle}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeFinancement">Financement <span class="text-danger">*</span></label>
                                <select name="codeFinancement" class="form-control" data-live-search="true"
                                    id="codeFinancement">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="sourceFinancement : ${sourceFinancements}"
                                        th:attr="value=${sourceFinancement.code}"
                                        th:text="${sourceFinancement.libelle}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <label for="codeIntervenant">Intervenant <span class="text-danger">*</span></label>
                                <select name="codeIntervenant" class="form-control" data-live-search="true"
                                    id="codeIntervenant">
                                    <option value="">Sélectionnez </option>
                                    <option th:each="intervenant : ${intervenants}" th:attr="value=${intervenant.code}"
                                        th:text="${intervenant.denomination}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="dateLancementProcedure" name="dateLancementProcedure"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Date de lancement de la
                                    procédure </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="dateAttributionContrat" name="dateAttributionContrat"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Date d'attribution du
                                    contrat </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="dateDemarragePrestation" name="dateDemarragePrestation"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Date du démarrage des
                                    préstations </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="dateAchevementPrestation" name="dateAchevementPrestation"
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Date d'achèvement des
                                    préstations </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-sm-12 pull-right">
                        <button type="submit" class="btn btn-primary m-b-0"> <i class="fa fa-save"></i>
                            Enregistrer </button>
                        <a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i>
                            Annuler
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" style="border: solid 3px #e0e4e7;margin:15px;padding:10px">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Objet marché</th>
                    <th>Coût</th>
                    <th>Date lancement</th>
                    <th>Date d'attribution</th>
                    <th>Date démarrage</th>
                    <th>Date d'achèvement</th>
                    <th>Type marché</th>
                    <th>Mode passation</th>
                    <th>Financement</th>
                    <th>Intervenant</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="marche : ${marche}">
                    <td th:text="${marche.anneeMarchesPublique}"></td>
                    <td th:text="${marche.objet}"></td>
                    <td th:text="${marche.coutPrevisionnel}"></td>
                    <td th:text="${marche.dateLancementProcedure}"></td>
                    <td th:text="${marche.dateAttributionContrat}"></td>
                    <td th:text="${marche.dateDemarragePrestation}"></td>
                    <td th:text="${marche.dateAchevementPrestation}"></td>
                    <td th:text="${marche.typeMarches.libelle}"></td>
                    <td th:text="${marche.modePassation.libelle}"></td>
                    <td th:text="${marche.financement.libelle}"></td>
                    <td th:text="${marche.intervenant.denomination}"></td>
                    <td align="center">
                        <a th:href="@{/updateMarches/{code}(code=${marche.code})}" class="btn btn-primary btn-xs"><i
                                class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
                        <a href="#" th:attr="deleteLink=${'/deleteMarches/'+marche.code}" data-toggle="modal"
                            data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i
                                class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>