      <!-- Intro-->
      <section class="section section-custom-1 bg-img-1 section-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-xl-12 text-center">
              <div class="text-accueil text-big text-decorative text-primary wow fadeInLeft" style=" font-weight: bold; font-size: 80px;  visibility: visible; animation-name: fadeInLeft;">Bienvenue sur le SINEA</div>
              
              <h4 class="wow fadeInLeft text-spacing-100 text-transform-none text-gray-600 font-weight-normal text-gray-600" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;"><span class="d-xl-block">Système d'Information National sur l'Eau et l'Assainissement</span></h4>
            </div>
          </div>
        </div>
      </section>
     
      <!-- About Us-->
      <section class="section section-sm section-last bg-default">
        <div class="container">
          <h2 class="wow fadeScale" style="visibility: visible; animation-name: fadeScale;"></h2>
          <!-- Owl Carousel-->
          <div class="row">
            <div class="col-xl-4">
              <div class="card">
                  
                  <div class="card-block">
                      <div id="TauxAccesEau" class="tb-chart"></div>
                  </div>
                  <div class="card-header">
                      <h5>Taux d'accès au service de l'eau potable</h5>
                      <span> </span>
                  </div>
              </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    
                    <div class="card-block">
                       <div id="indicateurs" class="tb-chart">  </div>
                    </div>
                    <div class="card-header">
                        <h5>Suivi des indicateurs <br>d'accès</h5>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    
                    <div class="card-block">
                        <div id="evolution" class="tb-chart"> 
                        </div>
                    </div>
                    <div class="card-header">
                        <h5>Évolution de l'accès aux services basiques de l'eau (%)
                        </h5>
                        <span></span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>
<SECTION class="section section section-sm section-first bg-default bg-gris" >
        <div class="row">
               <div class="container">
                  <div class="">
                      <div class="row">
                          <div class="col-md-6 col-sm-12 center-content">
                        </div> 
                    <div class="col-md-6 text-md-left">
                      <H3> Situation hydraulique </H3>
                      <label> Niveau : </label><x id="niveaustat">National</x> <br>
                      <label> Nombre de Puits Cimentés : </label><x id="niveaustat"> 123456 </x> <br>
                      <label> Nombre de Forages : </label><x id="niveaustat"> 123456 </x> <br>
                      <label> Nombre de Mini-AEP : </label><x id="niveaustat"> 123456 </x> <br>
                      <label> Nombre de Points d'eau autonomes : </label><x id="niveaustat"> 123456 </x> <br>
                      <label> Nombre de Station de Pompage : </label><x id="niveaustat"> 123456 </x> <br>
                      

 


                    </div>     
                  </div>
                </div>
            </div>
         </div>
       </SECTION>
    
      <!-- Services-->
      <section class="section section-xxl bg-default">
        <div class="container">
          <section class="section section-xl bg-default text-md-left">
        <div class="container">
          <div class="title-classic">
            <h3 class="title-classic-title">Nous Contacter</h3>
            <p class="title-classic-subtitle">Nous sommes disponible  24/7 par e-mail ou par téléphone. <br class="d-none d-lg-block"> Ou utiliser le formulaire suivant:</p>
          </div>
          <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate">
            <div class="row row-20 row-md-30">
              <div class="col-lg-12">
                <div class="row row-20 row-md-30">
                  <div class="col-sm-6">
                    <div class="form-wrap has-error">
                      <input class="form-input form-control-has-validation" id="contact-first-name-2" type="text" name="name" data-constraints="@Required"><span class="form-validation">Le champs est obligatoire.</span>
                      <label class="form-label rd-input-label" for="contact-first-name-2">Prénom</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap has-error">
                      <input class="form-input form-control-has-validation" id="contact-last-name-2" type="text" name="name" data-constraints="@Required"><span class="form-validation">Le champs est obligatoire.</span>
                      <label class="form-label rd-input-label" for="contact-last-name-2">Nom</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap has-error">
                      <input class="form-input form-control-has-validation" id="contact-email-2" type="email" name="email" data-constraints="@Email @Required"><span class="form-validation">Le champs est obligatoire.</span>
                      <label class="form-label rd-input-label" for="contact-email-2">E-mail</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap has-error">
                      <input class="form-input form-control-has-validation" id="contact-phone-2" type="text" name="phone" data-constraints="@Required"><span class="form-validation">Le champs est obligatoire.</span>
                      <label class="form-label rd-input-label" for="contact-phone-2">Téléphone</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-wrap has-error">
                  <label class="form-label rd-input-label" for="contact-message-2">Message</label>
                  <textarea class="form-input textarea-lg form-control-has-validation form-control-last-child" id="contact-message-2" name="phone" data-constraints="@Required"></textarea><span class="form-validation">Le champs est obligatoire.</span>
                </div>
              </div>
            </div>
            <button class="button button-lg button-secondary " type="submit">Envoyer votre message</button>
          </form>
        </div>
      </section>
        </div>
      </section>
      <section class="section section-xl bg-gray-4">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-6 col-md-4">
              <h4>Téléphone</h4>
              <ul class="contacts-classic">
                <li> <a href="tel:#">+227 20732025</a>
                </li>
                
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <h4>Adresse</h4>
              <div class="contacts-classic"><a href="#"> Rue de la Présidence <br>Niamey, Niger</a></div>
            </div>
            <div class="col-sm-6 col-md-4">
              <h4>E-mail</h4>
              <ul class="contacts-classic">
                <li><a href="mailTo:#">info@hydraulique.gouv.ne</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>