<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header titre-page">
                <h2>Enregistrement puits</h2>
                <span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="" method="get">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="select_region">
                                    <option> Sélectionnez </option>
                                    <option th:each="region : ${regions}" th:attr="value=${region.code}"
                                        th:text="${region.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Région</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select select id="select_departement" class="form-control" data-live-search="true">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Département</label>

                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select id="select_commune" class="form-control" data-live-search="true">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Commune</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select id="select_localite" name="localite" class="form-control"
                                    data-live-search="true">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Localité</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" name="typestructure" id="typestructure">
                                    <option> Sélectionnez </option>
                                    <option> PCV </option>
                                    <option> PCP </option>
                                    <option> PCM </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Type structure</label>
                            </div>

                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="IRH" name="IRH" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">N°IRH</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="daterealisation" name="daterealisation" placeholder=" "
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Date de réalisation</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="latitude" name="latitude" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Latitude</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="longitude" name="longitude" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Longitude</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <select id="financement" name="financement" class="form-control">
                                    <option> Sélectionnez </option>
                                    <option th:each="financement : ${financements}" th:attr="value=${financement.code}"
                                        th:text="${financement.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Source de financement</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <select id="projet" name="projet" class="form-control">
                                    <option> Sélectionnez </option>
                                    <option th:each="projet : ${projets}" th:attr="value=${projet.code}"
                                        th:text="${projet.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Projet</label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class=" col-md-4 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <select id="propriete" name="propriete" class="form-control">
                                    <option> Sélectionnez </option>
                                    <option th:each="propriete : ${proprietes}" th:attr="value=${propriete.code}"
                                        th:text="${propriete.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Type propriéte</label>
                            </div>
                        </div>
                        <div class=" col-md-4 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input id="margelle" name="margelle" type="text" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Hauteur margelle</label>
                            </div>
                        </div>
                        <div class=" col-md-4 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input id="infosmargelle" name="infosmargelle" type="text" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Autres infos margelle</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs  tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#autre" role="tab"><i
                                            class="icofont icofont-home"></i> Autres informations sur l'ouvrage </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#realisation" role="tab"><i
                                            class="icofont icofont-home"></i> réalisations </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#description" role="tab"><i
                                            class="icofont icofont-home"></i> Description géologique </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Prestataires" role="tab"><i
                                            class="icofont icofont-ui-message"></i> Prestataires</a>
                                </li>
                            </ul>
                            <div class="tab-content card-block">
                                <div class="tab-pane active" id="autre" role="tabpanel">
                                    <div class="row pt-4">
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <select id="existenceAmenagement" name="existenceAmenagement"
                                                    class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="existenceAmenagement : ${existenceAmenagements}"
                                                        th:attr="value=${existenceAmenagement.code}"
                                                        th:text="${existenceAmenagement.libelle}"></option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Existence d'aménagement </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <select id="typeExhaute" name="typeExhaute" class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="typeExhaute : ${typeExhautes}"
                                                        th:attr="value=${typeExhaute.code}"
                                                        th:text="${typeExhaute.libelle}"></option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Type d'exhaute </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="abreuvoirs" name="abreuvoirs" type="number"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Abreuvoirs </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="fourche" name="fourche" type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Fourche </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="portique" name="portique" type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Portique (nombre de poulies) </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="pompeImmergée" name="pompeImmergée" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Pompe immergée </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="renseignementsDivers" name="renseignementsDivers" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Renseignements divers </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pt-4">
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="dateMesure" name="dateMesure" type="date"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Date de mesure</label>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Antibourbier </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="antibourbier"
                                                            name="antibourbier">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="antibourbier"
                                                            name="antibourbier">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Canal d'évauation et puits
                                                    perdu </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="canalEvauationPuitsPerdu"
                                                            name="canalEvauationPuitsPerdu">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="canalEvauationPuitsPerdu"
                                                            name="canalEvauationPuitsPerdu">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Mur de clôture </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="murCloture" name="murCloture">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="murCloture" name="murCloture">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Couvercle </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="couvercle" name="couvercle">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="couvercle" name="couvercle">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Puisette </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="puisette" name="puisette">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="puisette" name="puisette">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Développement effectué au
                                                    cuffat </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="developpementEffectueCuffat"
                                                            name="developpementEffectueCuffat">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="developpementEffectueCuffat"
                                                            name="developpementEffectueCuffat">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Existence trousse coupante
                                                </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="existenceTrousseCoupante"
                                                            name="existenceTrousseCoupante">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="existenceTrousseCoupante"
                                                            name="existenceTrousseCoupante">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Existence dalle de fond
                                                </label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="existenceDalleFond"
                                                            name="existenceDalleFond">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="existenceDalleFond"
                                                            name="existenceDalleFond">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="realisation" role="tabpanel">
                                    <div class="row pt-4">
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="profondeurCuvelee" name="profondeurCuvelee" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Profondeur cuvelée (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="diametreCuvelee" name="diametreCuvelee" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Diamètre cuvelage (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="profondeurNiveauStatique" name="profondeurNiveauStatique"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Profondeur du niveau statique (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="diametreCaptage" name="diametreCaptage" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Diamètre du captage (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="nombreBusesCaptage" name="nombreBusesCaptage" type="number"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Nombre de buses de captage</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="profondeurSommetColonneCaptage"
                                                    name="profondeurSommetColonneCaptage" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Profondeur du sommet de la colonne de
                                                    captage (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="hauteurCaptage" name="hauteurCaptage" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Hauteur du captage (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="hauteurRecouvrement" name="hauteurRecouvrement" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Hauteur du recouvrement buses/cuvelage
                                                    (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="hauteurMassifFitrant" name="hauteurMassifFitrant" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Hauteur du massif fitrant
                                                    (m)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-lg-3">
                                            <div class="form-group form-default form-static-label">
                                                <input id="hauteurMassifFitrant" name="hauteurMassifFitrant" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Hauteur du massif fitrant
                                                    (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiSimplifiePompage" name="essaiSimplifiePompage"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai simplifié Durée de pompage
                                                    (h)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiSimplifieRabattement" name="essaiSimplifieRabattement"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai simplifié Rabattement mesuré
                                                    (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiLongueDureeDebitMax" name="essaiLongueDureeDebitMax"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai débit maximum estimé
                                                    (m3/h)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div>


                                    </div>
                                    <div class="col">
                                        <a class="btn btn-primary add-realisation"> + </a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="description" role="tabpanel">
                                    <div>
                                        <div class="row pt-3 description-geologique">
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Côte supérieure (m)</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Côte inférieure (m)</label>
                                                </div>
                                            </div>
                                            <div class=" col">
                                                <div class="form-group form-default form-static-label">
                                                    <select class="form-control">
                                                        <option> Sélectionnez </option>
                                                        <option th:each="natureSol : ${natureSols}"
                                                            th:attr="value=${natureSol.code}"
                                                            th:text="${natureSol.libelle}"></option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Nature du sol pompe</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-primary add-description-geologique"> + </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>


                                    </div>
                                </div>
                                <div class="tab-pane" id="Prestataires" role="tabpanel">
                                    <div>
                                        <div class="row pt-3 description-geologique">
                                            <div class=" col">
                                                <div class="form-group form-default form-static-label">
                                                    <select class="form-control">
                                                        <option> Sélectionnez </option>
                                                        <option th:each="typePrestation : ${typePrestations}"
                                                            th:attr="value=${typePrestation.code}"
                                                            th:text="${typePrestation.libelle}"></option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Type de prestation</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Nom du prestataire</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="date" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Coût de la prestation (milliers de
                                                        FCFA)</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-primary add-prestataire"> + </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-sm-12 pull-right">
                                <button type="submit" class="btn btn-primary m-b-0"> <i class="fa fa-save"></i>
                                    Enregistrer </button>
                                <a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i>
                                    Annuler
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#select_region").change(function () {
            code = $("#select_region option:selected").val();
            $.get('/getZoneByParentCode/' + code, function (dat) {
                $('#select_departement').html(dat);
                $('#select_commune').html('<option value="">Vide</option>');
                $('#select_localite').html('<option value="">Vide</option>');
            });
        });
        $("#select_departement").change(function () {
            code = $("#select_departement option:selected").val();
            $.get('/getZoneByParentCode/' + code, function (dat) {
                $('#select_commune').html(dat);
                $('#select_localite').html('<option value="">Vide</option>');
            });
        });
        $("#select_commune").change(function () {
            code = $("#select_commune option:selected").val();
            $.get('/getLocaliteByParentCode/' + code, function (dat) {
                $('#select_localite').html(dat);
            });
        });
    });
</script>