<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header titre-page">
                <h2>Enregistrement forage</h2>
                <span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="" method="get">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="select_region">
                                    <option> Sélectionnez </option>
                                    <option th:each="region : ${regions}" th:attr="value=${region.code}"
                                        th:text="${region.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Région</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select select id="select_departement" class="form-control" data-live-search="true">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Département</label>

                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select id="select_commune" class="form-control" data-live-search="true">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Commune</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select id="select_localite" name="localite" class="form-control"
                                    data-live-search="true">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Localité</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" name="typestructure" id="typestructure">
                                    <option> Sélectionnez </option>

                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Type structure</label>
                            </div>

                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="IRH" name="IRH" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">N°IRH</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="date" id="daterealisation" name="daterealisation" placeholder=" "
                                    class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Date de réalisation</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="latitude" name="latitude" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Latitude</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input type="text" id="longitude" name="longitude" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Longitude</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <select id="financement" name="financement" class="form-control">
                                    <option> Sélectionnez </option>
                                    <option th:each="financement : ${financements}" th:attr="value=${financement.code}"
                                        th:text="${financement.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Source de financement</label>
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <select id="projet" name="projet" class="form-control">
                                    <option> Sélectionnez </option>
                                    <option th:each="projet : ${projets}" th:attr="value=${projet.code}"
                                        th:text="${projet.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Projet</label>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class=" col-md-4 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <select id="propriete" name="propriete" class="form-control">
                                    <option> Sélectionnez </option>
                                    <option th:each="propriete : ${proprietes}" th:attr="value=${propriete.code}"
                                        th:text="${propriete.libelle}"> </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Type propriéte</label>
                            </div>
                        </div>
                        <div class=" col-md-4 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input id="margelle" name="margelle" type="text" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Hauteur margelle</label>
                            </div>
                        </div>
                        <div class=" col-md-4 col-sm-12">
                            <div class="form-group form-default form-static-label">
                                <input id="infosmargelle" name="infosmargelle" type="text" class="form-control">
                                <span class="form-bar"></span>
                                <label class="float-label">Autres infos margelle</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs  tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#autre" role="tab"><i
                                            class="icofont icofont-home"></i> Autres informations sur l'ouvrage </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#description" role="tab"><i
                                            class="icofont icofont-home"></i> Description géologique </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#equipement" role="tab"><i
                                            class="icofont icofont-home"></i> Equipement forage </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Qualite" role="tab"><i
                                            class="icofont icofont-ui-user "></i> Qualité de l'eau </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Prestataires" role="tab"><i
                                            class="icofont icofont-ui-message"></i> Prestataires</a>
                                </li>


                            </ul>
                            <div class="tab-content card-block">
                                <div class="tab-pane active" id="autre" role="tabpanel">
                                    <div class="row">
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <select id="usage" name="usage" class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="usage : ${typeUsages}"
                                                        th:attr="value=${usage.code}" th:text="${usage.libelle}">
                                                    </option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label"> Usage principal du forage</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <select id="typeAmenagement" name="typeAmenagement"
                                                    class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="typeAmenagement : ${typeAmenagements}"
                                                        th:attr="value=${typeAmenagement.code}"
                                                        th:text="${typeAmenagement.libelle}"></option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Type d'aménagement </label>
                                            </div>
                                        </div>

                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <select id="marquePompe" name="marquePompe" class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="marquePompe : ${marquePompes}"
                                                        th:attr="value=${marquePompe.code}"
                                                        th:text="${marquePompe.libelle}"></option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Marque pompe</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <select id="modelePompe" name="modelePompe" class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="modelePompe : ${modelePompes}"
                                                        th:attr="value=${modelePompe.code}"
                                                        th:text="${modelePompe.libelle}"></option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Modèle pompe</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input type="date" id="datedebutforation" name="datedebutforation"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Date démarrage foration</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="datefinforation" name="datefinforation" type="date"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Date fin foration</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="profondeurforee" name="profondeurforee" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Profondeur forée (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="profondeurEquipee" name="profondeurEquipee" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Profondeur totale équipée (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="profondeurNiveauStatique" name="profondeurNiveauStatique"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Profondeur du niveau statique (m)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="dateMesure" name="dateMesure" type="date"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Date de mesure</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="debitSoufflage" name="debitSoufflage" type="text"
                                                    class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Débit au soufflage (m3/h)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Développement
                                                    effectué</label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="developpementEffectue"
                                                            name="developpementEffectue">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="developpementEffectue"
                                                            name="developpementEffectue">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <label class="float-label float-label-haut">Forage positif</label>
                                                <span class="form-bar"></span>
                                                <div class="p-1 pt-4">
                                                    <label>
                                                        <input type="radio" value="1" id="foragePositif"
                                                            name="foragePositif">
                                                        <i class="helper"></i>Oui
                                                    </label>

                                                    <label>
                                                        <input type="radio" value="2" id="foragePositif"
                                                            name="foragePositif">
                                                        <i class="helper"></i>Non
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiSimplifiePompage" name="essaiSimplifiePompage"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai simplifié Durée de pompage (h)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiSimplifieRabattement" name="essaiSimplifieRabattement"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai simplifié Rabattement mesuré
                                                    (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiSimplifieDebitMax" name="essaiSimplifieDebitMax"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai simplifié Débit maximum estimé
                                                    (m3/h)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiLongueDureeRabattement"
                                                    name="essaiLongueDureeRabattement" type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai longue durée Rabattement mesuré
                                                    (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <input id="essaiLongueDureeDebitMax" name="essaiLongueDureeDebitMax"
                                                    type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Essai longue durée Débit maximum estimé
                                                    (m3/h)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="description" role="tabpanel">
                                    <div>
                                        <div class="row pt-3 description-geologique">
                                            <div class="col">
<<<<<<< HEAD
                                                 <div class="form-group form-default form-static-label">
                                                    <input name="cotesuperieur[]" type="text" class="form-control" >
=======
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
>>>>>>> eb6aaa755cb2c4547f08f0e6c5a636b94ce504cb
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Côte supérieure (m)</label>
                                                </div>
                                            </div>
                                            <div class="col">
<<<<<<< HEAD
                                                 <div class="form-group form-default form-static-label">
                                                    <input name="coteinferieur[]" type="text" class="form-control" >
=======
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
>>>>>>> eb6aaa755cb2c4547f08f0e6c5a636b94ce504cb
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Côte inférieure (m)</label>
                                                </div>
                                            </div>
                                            <div class=" col">
                                                <div class="form-group form-default form-static-label">
<<<<<<< HEAD
                                                    <select name="naturesol[]" class="form-control" >
=======
                                                    <select class="form-control">
>>>>>>> eb6aaa755cb2c4547f08f0e6c5a636b94ce504cb
                                                        <option> Sélectionnez </option>
                                                        <option th:each="natureSol : ${natureSols}"
                                                            th:attr="value=${natureSol.code}"
                                                            th:text="${natureSol.libelle}"></option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Nature du sol pompe</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-primary add-description-geologique"> + </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>


                                    </div>
                                </div>
                                <div class="tab-pane" id="equipement" role="tabpanel">
                                    <div class="row pt-3 equipement-forage">
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Côte supérieure (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Côte inférieure (m)</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <select class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="natureTube : ${natureTubes}"
                                                        th:attr="value=${natureTube.code}"
                                                        th:text="${natureTube.libelle}"></option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Nature du tube</label>
                                            </div>
                                        </div>
                                        <div class=" col">
                                            <div class="form-group form-default form-static-label">
                                                <select class="form-control">
                                                    <option> Sélectionnez </option>
                                                    <option th:each="typeTube : ${typeTubes}"
                                                        th:attr="value=${typeTube.code}" th:text="${typeTube.libelle}">
                                                    </option>
                                                </select>
                                                <span class="form-bar"></span>
                                                <label class="float-label">Type du tube</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-default form-static-label">
                                                <input type="text" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Diamètre (m)</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-primary add-equipement-forage"> + </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Qualite" role="tabpanel">
                                    <div>
                                        <div class="row pt-3 description-geologique">
                                            <div class=" col">
                                                <div class="form-group form-default form-static-label">
                                                    <select class="form-control">
                                                        <option> Sélectionnez </option>
                                                        <option th:each="typeAnalyse : ${typeAnalyses}"
                                                            th:attr="value=${typeAnalyse.code}"
                                                            th:text="${typeAnalyse.libelle}"></option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Type d'analyse</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Laboratoire d'analyse</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="date" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Date échantillonage</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Echantillé par</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Chimiste</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Observations</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="md-modal md-effect-2" id="modal-qualite">
                                                    <div class="md-content">
                                                        <h3>Détails analyse</h3>
                                                        <div>
                                                            <p></p>
                                                            <ul>

                                                            </ul>
                                                            <button type="button"
                                                                class="btn btn-primary waves-effect md-close">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn btn-primary waves-effect md-trigger"
                                                    data-modal="modal-qualite"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-primary add-qualite"> + </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Prestataires" role="tabpanel">
                                    <div>
                                        <div class="row pt-3 description-geologique">
                                            <div class=" col">
                                                <div class="form-group form-default form-static-label">
                                                    <select class="form-control">
                                                        <option> Sélectionnez </option>
                                                        <option th:each="typePrestation : ${typePrestations}"
                                                            th:attr="value=${typePrestation.code}"
                                                            th:text="${typePrestation.libelle}"></option>
                                                    </select>
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Type de prestation</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="text" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Nom du prestataire</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group form-default form-static-label">
                                                    <input type="date" class="form-control">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Coût de la prestation (milliers de
                                                        FCFA)</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-primary add-prestataire"> + </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-sm-12 pull-right">
                                <button type="submit" class="btn btn-primary m-b-0"> <i class="fa fa-save"></i>
                                    Enregistrer </button>
                                <a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i> Annuler
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#select_region").change(function () {
            code = $("#select_region option:selected").val();
            $.get('/getZoneByParentCode/' + code, function (dat) {
                $('#select_departement').html(dat);
                $('#select_commune').html('<option value="">Vide</option>');
                $('#select_localite').html('<option value="">Vide</option>');
            });
        });
        $("#select_departement").change(function () {
            code = $("#select_departement option:selected").val();
            $.get('/getZoneByParentCode/' + code, function (dat) {
                $('#select_commune').html(dat);
                $('#select_localite').html('<option value="">Vide</option>');
            });
        });
        $("#select_commune").change(function () {
            code = $("#select_commune option:selected").val();
            $.get('/getLocaliteByParentCode/' + code, function (dat) {
                $('#select_localite').html(dat);
            });
        });
    });
</script>