<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >

<div th:fragment="pageContent">
			
 		<div class="row">
    		<div class="col-lg-12">
      		  <!-- Default card start -->
       			 <div class="card">
		            <div class="card-header titre-page">
		                <h2>Consultation ouvrages hydrauliques</h2>
		            </div>
       			 </div>
       			 
   			</div>
		</div>
		
	<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="./?page=consultation_hydrauliques">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select id="select_region" class="form-control">
	                                    <option value="">Sélectionner la region</option>
										<option th:each="region : ${regions}" th:attr="value=${region.code}"  th:text="${region.libelle}"> </option>
								</select>
                                <label class="float-label">Région</label>
                             </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select id="select_departement" class="form-control">
                                                <option value="">Sélectionner le département</option>
                                        </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Département</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                 <select id="select_commune" class="form-control">
                                                <option value="">Sélectionner la commune</option>
                                        </select>
                                <span class="form-bar"> </span>
                                <label class="float-label">Commune</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                 <select id="select_localite" class="form-control">
                                                <option value="">Sélectionner la localité</option>
                                        </select>
                                <span class="form-bar"> </span>
                                <label class="float-label">Localité</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <a class="btn-primary btn" href="#" id="btn_get_forage"> <i class="fa fa-eye"> </i> Consulter </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
           
        </form>
    </div>
	</div>
		  
            <div class="card">
            
                <div class="card-header">
                    <h5>Fiche localité</h5>
                </div>
                
                	<div class="card-body">
	                   		<div class="row invoive-info">
		                        <div class="col-md-4 col-xs-12 invoice-client-info">
		                            <h6>Population rurale : 300 000</h6>
		                        </div>
		                        <div class="col-md-4 col-xs-12 ">
		                            <h6>Population urbaine : 800 000</h6>
		                        </div>
		                        <div class="col-md-4 col-xs-12">
		                            <h6 >Population totale : 1 100 000 </h6>
		                        </div>
	                    	 </div>
                    
                    		<div class="row invoive-info">
		                        <div class="col-md-4 col-xs-12 invoice-client-info">
		                            <h6>Forages : 1500</h6>
		                        </div>
		                        <div class="col-md-4 col-xs-12 ">
		                            <h6>Puits : 800</h6>
		                        </div>
		                        <div class="col-md-4 col-xs-12">
		                            <h6 >AEP : 1700 </h6>
		                        </div>
                    		</div>
               		 </div>
               		 
           	 </div>

     

    <div class="card">
    
	    <div class="card-body">
	    
	        <div class="row">
	        
	            <div class="col-sm-12">
                        
	                <ul class="nav nav-tabs  tabs " role="tablist">
	                    
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#forage" role="tab"><i class="icofont icofont-home"></i> Forages </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#Puits" role="tab"><i class="icofont icofont-home"></i> Puits </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#AEP" role="tab"><i class="icofont icofont-ui-user "></i> AEP </a>
                        </li>
	                        
	                 </ul>
	                 
                            
                   <div class="tab-content card-block">
                    
                    
                        <div class="tab-pane active" id="forage" role="tabpanel">
                           <div class="dt-responsive table-responsive">
                           
                                <table id="tab" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>Nom ouvrage</th>
										<th style="width:10%">Type ouvrage</th>
										<th style="width:10%">Date mise en service</th>
										<th style="width:10%">Etat actuel</th>
										<th style="width:10%">Latitude</th>
										<th style="width:10%">Longitude</th>
										<th style="width:15%">Action</th>
									</tr>
								</thead>
								<tbody id="liste_forage">
									<tr th:each="ouvrage : ${ouvrages}">
										<td th:text="${ouvrage.nomOuvrage}"></td>
										<td th:text="${ouvrage.typeOuvrage}"></td>
										<td th:text="${ouvrage.dateMiseEnService}"></td>
										<td th:text="${ouvrage.etatActuel}"></td>
										<td th:text="${ouvrage.latitude}"></td>
										<td th:text="${ouvrage.longitude}"></td>
										<td align="center" > 
											<a th:href="@{/{lien}(lien=${ouvrage.lien})}" class="btn_edit_point_eau btn btn-sm btn-primary waves-effect"><span th:text="#{_atteindre}"></span></a>
										</td>							
									</tr>
								</tbody>
								</table>
								
					        </div>
					     </div>
	 
			
						 <div class="tab-pane" id="Puits" role="tabpanel">
						 
		                      <div class="dt-responsive table-responsive">
		                      
								<h4> Puits Test</h4>
								
							  </div>
								
						 </div>
									
						 <div class="tab-pane" id="AEP" role="tabpanel">
						 
                              <div class="dt-responsive table-responsive">
                              
								 <h4> AEP Test</h4>
								 
							  </div>
							  
						 </div>
								
					</div>
		
					<div class="row  m-4">
			            <div class="col-sm-12 pull-right" style="text-align: center;">
			                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1v6J0K9pUZ7OaWMFahsYphKU4O2RwtYNA&ehbc=2E312F" width="840" height="480"></iframe>
			            </div>  
			        </div>
	
             </div>
             
           </div>
           
         </div>
         
       </div>
        
       
		<script>
				$(document).ready(function () {
					$(".table").DataTable({
				        language: {
				            url: 'assets/js/French.json'
				        	},
				        columnDefs: [{
						   	targets : -1,
						   	searchable : false,
						   	orderable : false,
						   	width : '1%'
							}]
				    });
						
						
						
						$("#select_region" ).change(function(){
						code = $("#select_region option:selected").val();
						
						$.get('/getZoneByParentCode/'+code,function(dat){
							$('#select_departement').html(dat);
							
							$('#select_commune').html('<option value="">Sélectionner la commune</option>');
							$('#select_localite').html('<option value="">Sélectionner la localité</option>');
							});
						});
					
						$("#select_departement" ).change(function(){
							code = $("#select_departement option:selected").val();
							$.get('/getZoneByParentCode/'+code,function(dat){
								$('#select_commune').html(dat);
								$('#select_localite').html('<option value="">Sélectionner la localité</option>');
							});
						});
					
						$("#select_commune").change(function(){
							code = $("#select_commune option:selected").val();
							$.get('/getLocaliteByParentCode/'+code,function(dat){
								$('#select_localite').html(dat);
							});
						});
						
						
						$("#btn_get_forage").click(function(){
							code = $("#select_localite option:selected").val();
							
							$.get('/getForageByLocaliteCode/'+code,function(dat){
								
								$('#liste_forage').html(dat);
							});
						});
									
						$("#btn_ajout_point_eau").click(function(){
							
							numeroIRH = $("#numeroIRH").val();
							nomPEM = $("#nomPEM").val();
							typeOuvrage = $("#typeOuvrage option:selected").text();
							if(typeOuvrage == "Forage")
								{
									$.post('/addForage',{"numeroIRH":numeroIRH,"nomPEM":nomPEM},function(code){
										 window.location.replace("/forage/"+code);
									});
								}
							else
								if(typeOuvrage == "Puits Cimenté")
								{
									$.post('/addPuits',{"numeroIRH":numeroIRH,"nomPEM":nomPEM},function(code){
										 window.location.replace("/puits/"+code);
									});
								}
							else
								if(typeOuvrage == "AEP")
								{
									$.post('/addAEP',{"numeroIRH":numeroIRH,"nomAEP":nomPEM},function(code){
										 window.location.replace("/aep/"+code);
									});
								}	
						});

				      
				    });
		
			</script>
		
	</div>
</body>
</html>