<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div id="toast_area" style="height:5px;position:absolute;top: 0; right: 0;z-index:999">
			<div class="toast fade show" th:each="forage : ${unsavedForages}">
		        <div class="toast-header bg-danger" style="color:#fff">
		            <strong class="mr-auto"><i class="mdi mdi-alert"></i> Avertissement!</strong>
		            <small>non enregistré</small>
		            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
		        </div>
		        <div class="toast-body" th:text="${forage}"> </div>
		    </div>
		</div>
		<div style="margin-left: 20px;margin-bottom:20px">
	    	<button id="btn_import_forage" class="btn btn-sm btn-primary waves-effect"><i class="mdi mdi-import" style="padding-right:15px;padding-left:15px"></i>Import Forage</button>
	    </div>
		<div class="row">
			<input type="hidden" id="idForage" name ="idForage" th:if="${forage != null && forage.code != null}" th:attr="value=${forage.code}">
			<div class="col-12">
				<div id="operationStatus"> </div>
	           <ul class="nav nav-tabs" id="etape">
			        <li class="nav-item">
			           <a href="#etape1" tab_id="1" class="active nav-link" data-toggle="tab"> <i class="mdi mdi-information" style="padding-right:10px"></i>Infos générales</a>
			        </li>
			        <li class="nav-item">
			            <a href="#etape2" tab_id="2" class="nav-link" data-toggle="tab"><i class="mdi mdi-tools" style="padding-right:10px"></i>Equipement forage</a>
			        </li>
			        <li class="nav-item">
			            <a href="#etape3" tab_id="3" class="nav-link" data-toggle="tab"><i class="mdi mdi-tools" style="padding-right:10px"></i>Pompe installé</a>
			        </li>
			        <li class="nav-item">
			            <a href="#etape4" tab_id="4" class="nav-link" data-toggle="tab"><i class="mdi mdi-map" style="padding-right:10px"></i>Description géologique</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape5" tab_id="5" class="nav-link" data-toggle="tab"> <i class="mdi mdi-account" style="padding-right:10px"></i>Prestataires</a>
			        </li>
			        
			        <li class="nav-item">
			           <a href="#etape6" tab_id="6" class="nav-link" data-toggle="tab"> <i class="mdi mdi-ruler" style="padding-right:10px"></i>Piézomètre</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape7" tab_id="7" class="nav-link" data-toggle="tab"> <i class="mdi mdi-test-tube" style="padding-right:10px"></i>Qualité de l'eau</a>
			        </li>
			        
			        <li class="nav-item">
			           <a href="#etape8" tab_id="8" class="nav-link" data-toggle="tab"> <i class="mdi mdi-information" style="padding-right:10px"></i>Infos complémentaires</a>
			        </li>
			    </ul>
			    
			    <div class="tab-content">
			        <div class="tab-pane fade" id="etape1">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="region" th:text="#{_region}"> <span class="text-danger">*</span></label>
									<select id="select_region" class="form-control" data-live-search="true">
										<option value="">Selectionner la region</option>
										<option th:each="region : ${regions}" th:attr="value=${region.code}"  th:text="${region.libelle}"> </option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="departement" th:text="#{_departement}"> <span class="text-danger">*</span></label>
									<select id="select_departement" class="form-control" data-live-search="true">
										<option value="">Vide</option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="commune" th:text="#{_commune}"> <span class="text-danger">*</span></label>
									<select id="select_commune" class="form-control" data-live-search="true">
										<option value="">Vide</option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="localite" th:text="#{_localite}"> <span class="text-danger">*</span></label>
									<select id="select_localite" class="form-control" data-live-search="true">
										<option value="">Vide</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="numeroIRH" th:text="#{_numeroIRH}"> <span class="text-danger">*</span></label>
									<input type="text" id="numeroIRH" name="numeroIRH" class="form-control" th:value="${forage != null && forage.numeroIRH != null}? ${forage.numeroIRH} : ''" />
								</div>
								<div class="form-group">
									<label for="nomPEM" th:text="#{_nom}"> <span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="nomPEM">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
									<input type="text" id="latitude" name="latitude" class="form-control" th:value="${forage != null && forage.latitude != null}? ${forage.latitude} : ''" />
									
								</div>
								<div class="form-group">
									<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
									<input type="text" id="longitude" name="longitude" class="form-control" th:value="${forage != null && forage.longitude != null}? ${forage.longitude} : ''" />
								</div>
							</div>
							<div class="col-lg-3">	
								<div class="form-group">
									<label for="codeFinancement" th:text="#{_financement}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeFinancement" name="codeFinancement">
										<option value="">Choisir une option</option>
										<option th:each="financement : ${financements}" th:attr="value=${financement.code}" th:text="${financement.libelle}" th:selected="${forage.financement != null && forage.financement.code == financement.code}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeProjet" th:text="#{_projet}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeProjet" name="codeProjet">
										<option value="">Choisir une option</option>
										<option th:each="projet : ${projets}" th:attr="value=${projet.code}"  th:text="${projet.libelle}" th:selected="${forage.projet != null && forage.projet.code == projet.code}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">	
								<div class="form-group">
									<label for="anneeRealisation" th:text="#{_anneeRealisation}"> <span class="text-danger">*</span></label>
									<input type="text" id="anneeRealisation" name="anneeRealisation" class="form-control" th:value="${forage != null && forage.anneeRealisation != null}? ${forage.anneeRealisation} : ''" />
								</div>
								<div class="form-group">
									<label for="foragePositif" th:text="#{_foragePositif}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="foragePositif1" name="foragePositif" th:checked="${forage != null && forage.foragePositif == true}">
										<label for="foragePositif" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="foragePositif2" name="foragePositif" th:checked="${forage != null && forage.foragePositif == false}">
										<label for="foragePositif" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="dateDemarrageForation" th:text="#{_dateDemarrageForation}"> <span class="text-danger">*</span></label>
									<input type="date" class="form-control" id="dateDemarrageForation" name="dateDemarrageForation" th:value="${forage != null && forage.dateDemarrageForation != null}? ${forage.dateDemarrageForation} : ''" />
									
								</div>
								<div class="form-group">
									<label for="dateFinForation" th:text="#{_dateFinForation}"> <span class="text-danger">*</span></label>
									<input type="date" id="dateFinForation" name="dateFinForation" class="form-control" th:value="${forage != null && forage.dateFinForation != null}? ${forage.dateFinForation} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="profondeurTotaleForee" th:text="#{_profondeurTotaleForee}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurTotaleForee" name="profondeurTotaleForee" class="form-control" th:value="${forage != null && forage.profondeurTotaleForee != null}? ${forage.profondeurTotaleForee} : ''" />
								</div>
								<div class="form-group">
									<label for="profondeurTotaleEquipee" th:text="#{_profondeurTotaleEquipee}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurTotaleEquipee" name="profondeurTotaleEquipee" class="form-control" th:value="${forage != null && forage.profondeurTotaleEquipee != null}? ${forage.profondeurTotaleEquipee} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="profondeurNiveauStatique" th:text="#{_profondeurNiveauStatique}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurNiveauStatique" name="profondeurNiveauStatique" class="form-control" th:value="${forage != null && forage.profondeurNiveauStatique != null}? ${forage.profondeurNiveauStatique} : ''" />
								</div>
								<div class="form-group">
									<label for="dateMesure" th:text="#{_dateMesure}"> <span class="text-danger">*</span></label>
									<input type="date" id="dateMesure" name="dateMesure" class="form-control" th:value="${forage != null && forage.dateMesure != null}? ${forage.dateMesure} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="hauteurMargelle" th:text="#{_hauteurMargelle}"> <span class="text-danger">*</span></label>
									<input type="text" id="hauteurMargelle" name="hauteurMargelle" class="form-control" th:value="${forage != null && forage.hauteurMargelle != null}? ${forage.hauteurMargelle} : ''" />
								</div>
								<div class="form-group">
									<label for="autreInfoMargelle" th:text="#{_autreInfoMargelle}"> <span class="text-danger">*</span></label>
									<input type="text" id="autreInfoMargelle" name="autreInfoMargelle" class="form-control" th:value="${forage != null && forage.autreInfoMargelle != null}? ${forage.autreInfoMargelle} : ''" />
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="developpementEffectue" th:text="#{_developpementEffectue}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="developpementEffectue1" name="developpementEffectue" th:checked="${forage != null && forage.developpementEffectue == true}">
										<label for="developpementEffectue" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="developpementEffectue2" name="developpementEffectue" th:checked="${forage != null && forage.developpementEffectue == false}">
										<label for="developpementEffectue" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="debitAuSoufflage" th:text="#{_debitAuSoufflage}"> <span class="text-danger">*</span></label>
									<input type="text" id="debitAuSoufflage" name="debitAuSoufflage" class="form-control" th:value="${forage != null && forage.debitAuSoufflage != null}? ${forage.debitAuSoufflage} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="essaiSimplifieDureePompage" th:text="#{_essaiSimplifie_DureePompage}"> <span class="text-danger">*</span></label>
									<input type="text" id="essaiSimplifieDureePompage" name="essaiSimplifieDureePompage" class="form-control" th:value="${forage != null && forage.essaiSimplifieDureePompage != null}? ${forage.essaiSimplifieDureePompage} : ''" />
								</div>
								<div class="form-group">
									<label for="essaiSimplifieRabattementMesure" th:text="#{_essaiSimplifie_RabattementMesure}"> <span class="text-danger">*</span></label>
									<input type="text" id="essaiSimplifieRabattementMesure" name="essaiSimplifieRabattementMesure" class="form-control" th:value="${forage != null && forage.essaiSimplifieRabattementMesure != null}? ${forage.essaiSimplifieRabattementMesure} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="essaiSimplifieDebitMaximumEstime" th:text="#{_essaiSimplifie_DebitMaximumEstime}"> <span class="text-danger">*</span></label>
									<input type="text" id="essaiSimplifieDebitMaximumEstime" name="essaiSimplifieDebitMaximumEstime" class="form-control" th:value="${forage != null && forage.essaiSimplifieDebitMaximumEstime != null}? ${forage.essaiSimplifieDebitMaximumEstime} : ''" />
								</div>
								<div class="form-group">
									<label for="essaiLongueDureeDebitMaximumEstime" th:text="#{_essaiLongueDuree_DebitMaximumEstime}"> <span class="text-danger">*</span></label>
									<input type="text" id="essaiLongueDureeDebitMaximumEstime" name="essaiLongueDureeDebitMaximumEstime" class="form-control" th:value="${forage != null && forage.essaiLongueDureeDebitMaximumEstime != null}? ${forage.essaiLongueDureeDebitMaximumEstime} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="essaiLongueDureeDureePompage" th:text="#{_essaiLongueDuree_DureePompage}"> <span class="text-danger">*</span></label>
									<input type="text" id="essaiLongueDureeDureePompage" name="essaiLongueDureeDureePompage" class="form-control" th:value="${forage != null && forage.essaiLongueDureeDureePompage != null}? ${forage.essaiLongueDureeDureePompage} : ''" />
								</div>
								<div class="form-group">
									<label for="essaiLongueDureeRabattementMesure" th:text="#{_essaiLongueDuree_RabattementMesure}"> <span class="text-danger">*</span></label>
									<input type="text" id="essaiLongueDureeRabattementMesure" name="essaiLongueDureeRabattementMesure" class="form-control" th:value="${forage != null && forage.essaiLongueDureeRabattementMesure != null}? ${forage.essaiLongueDureeRabattementMesure} : ''" />
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeTypeUsage" th:text="#{_typeUsage}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypeUsage" name="codeTypeUsage">
										<option value="">Choisir une option</option>
										<option th:each="typeUsage : ${typeUsages}" th:attr="value=${typeUsage.code}"  th:text="${typeUsage.libelle}" th:selected="${forage.typeUsage != null && forage.typeUsage.code == typeUsage.code}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeTypeAmenagement" th:text="#{_typeAmenagement}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypeAmenagement" name="codeTypeAmenagement">
										<option value="">Choisir une option</option>
										<option th:each="typeAmenagement : ${typeAmenagements}" th:attr="value=${typeAmenagement.code}"  th:text="${typeAmenagement.libelle}" th:selected="${forage.typeAmenagement != null && forage.typeAmenagement.code == typeAmenagement.code}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="form-group">
									<label for="renseignementDivers" th:text="#{_renseignementDivers}"></label>
									<textarea id="renseignementDivers" name="renseignementDivers"  rows="5" class="form-control" th:text="${forage != null && forage.renseignementDivers != null}? ${forage.renseignementDivers} : ''" ></textarea>
								</div>
							</div>
						</div>
						<hr/>
						<div class="form-group text-right mb-0">
							<button id="btn_valide_informations_generales" class="btn btn-primary waves-effect waves-light mr-1" th:text="#{_valider}"></button>
							<button id="btn_reset_informations_generales" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
						</div>
		        	</div>
			        <div class="tab-pane fade" id="etape2">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="coteSuperieure" th:text="#{_coteSuperieure}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coteSuperieure" name="coteSuperieure">
								</div>
								<div class="form-group">
									<label for="coteInferieure" th:text="#{_coteInferieure}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coteInferieure" name="coteInferieure">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeNatureTube" th:text="#{_natureTube}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeNatureTube" name="codeNatureTube">
										<option value="">Choisir une option</option>
										<option th:each="natureTube : ${natureTubes}" th:attr="value=${natureTube.code}"  th:text="${natureTube.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeTypeTube" th:text="#{_typeTube}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypeTube" name="codeTypeTube">
										<option value="">Choisir une option</option>
										<option th:each="typeTube : ${typeTubes}" th:attr="value=${typeTube.code}"  th:text="${typeTube.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="diametre" th:text="#{_diametre}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="diametre" name="diametre">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_equipementForage" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_equipementForage" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_equipementForage" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_coteSuperieure}"></th>
											<th th:text="#{_coteInferieure}"></th>
											<th th:text="#{_natureTube}"></th>
											<th th:text="#{_typeTube}"></th>
											<th th:text="#{_diametre}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="equipementForage : ${forage.equipementForages}">
											<td th:text="${equipementForage.coteSuperieure}"></td>
											<td th:text="${equipementForage.coteInferieure}"></td>
											<td th:text="${equipementForage.natureTube.libelle}"></td>
											<td th:text="${equipementForage.typeTube.libelle}"></td>
											<td th:text="${equipementForage.diametre}"></td>
											<td align="center" > 
												<button th:attr="code=${equipementForage.code},coteInferieure=${equipementForage.coteInferieure},coteSuperieure=${equipementForage.coteSuperieure},codeNatureTube=${equipementForage.natureTube.code},codeTypeTube=${equipementForage.typeTube.code},diametre=${equipementForage.diametre}"  class="btn_edit_equipementForage btn_edit_descriptionGeologique btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:attr="code=${equipementForage.code},coteInferieure=${equipementForage.coteInferieure},coteSuperieure=${equipementForage.coteSuperieure},codeNatureTube=${equipementForage.natureTube.code},codeTypeTube=${equipementForage.typeTube.code},diametre=${equipementForage.diametre}"  class="btn_delete_equipementForage btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        <div class="tab-pane fade" id="etape3">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeModelePompe" th:text="#{_modelePompe}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeModelePompe" name="codeModelePompe">
										<option value="">Choisir une option</option>
										<option th:each="modelePompe : ${modelePompes}" th:attr="value=${modelePompe.code}"  th:text="${modelePompe.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeMarquePompe" th:text="#{_marquePompe}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeMarquePompe" name="codeMarquePompe">
										<option value="">Choisir une option</option>
										<option th:each="marquePompe : ${marquePompes}" th:attr="value=${marquePompe.code}"  th:text="${marquePompe.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="dateInstallationPompe" th:text="#{_dateInstallationPompe}"> <span class="text-danger">*</span></label>
									<input type="date"  class="form-control" id="dateInstallationPompe" name="dateInstallationPompe">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_pompeInstalle" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_pompeInstalle" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_pompeInstalle" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_modelePompe}"></th>
											<th th:text="#{_marquePompe}"></th>
											<th th:text="#{_dateInstallationPompe}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="pompeInstalle : ${forage.pompeInstalles}">
											<td th:text="${pompeInstalle.modelePompe.libelle}"></td>
											<td th:text="${pompeInstalle.marquePompe.libelle}"></td>
											<td th:text="${pompeInstalle.dateInstallationPompe}"></td>
											<td align="center" > 
												<button th:attr="code=${pompeInstalle.code},codeModelePompe=${pompeInstalle.modelePompe.code},codeMarquePompe=${pompeInstalle.marquePompe.code},dateInstallationPompe=${pompeInstalle.dateInstallationPompe}"  class="btn_edit_pompeInstalle btn_edit_descriptionGeologique btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:attr="code=${pompeInstalle.code},codeModelePompe=${pompeInstalle.modelePompe.code},codeMarquePompe=${pompeInstalle.marquePompe.code},dateInstallationPompe=${pompeInstalle.dateInstallationPompe}"  class="btn_delete_pompeInstalle btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
			        </div>
			        <div class="tab-pane fade" id="etape4">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="coteSuperieure" th:text="#{_coteSuperieure}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coteSuperieure" name="coteSuperieure">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="coteInferieure" th:text="#{_coteInferieure}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coteInferieure" name="coteInferieure">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeNatureSol" th:text="#{_natureSol}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeNatureSol" name="codeNatureSol">
										<option value="">Choisir une option</option>
										<option th:each="natureSol : ${natureSols}" th:attr="value=${natureSol.code}"  th:text="${natureSol.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_description_geologique" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_description_geologique" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_descriptionGeologique" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_coteSuperieure}"></th>
											<th th:text="#{_coteInferieure}"></th>
											<th th:text="#{_natureSol}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="descriptionGeologique : ${forage.descriptionGeologiques}">
											<td th:text="${descriptionGeologique.descriptionGeologiqueKey.coteSuperieure}"></td>
											<td th:text="${descriptionGeologique.descriptionGeologiqueKey.coteInferieure}"></td>
											<td th:text="${descriptionGeologique.natureSol.libelle}"></td>
											<td align="center" > 
												<button th:attr="coteInferieure=${descriptionGeologique.descriptionGeologiqueKey.coteInferieure},coteSuperieure=${descriptionGeologique.descriptionGeologiqueKey.coteSuperieure},codeNatureSol=${descriptionGeologique.natureSol.code}"  class="btn_edit_descriptionGeologique btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:attr="coteInferieure=${descriptionGeologique.descriptionGeologiqueKey.coteInferieure},coteSuperieure=${descriptionGeologique.descriptionGeologiqueKey.coteSuperieure},codeNatureSol=${descriptionGeologique.natureSol.code}"  class="btn_delete_descriptionGeologique btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
			        </div>
			        <div class="tab-pane fade" id="etape5">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="codeTypePrestation" th:text="#{_typePrestation}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypePrestation" name="codeTypePrestation">
										<option value="">Choisir une option</option>
										<option th:each="typePrestation : ${typePrestations}" th:attr="value=${typePrestation.code}"  th:text="${typePrestation.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="nomPrestataire" th:text="#{_nomPrestataire}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nomPrestataire" name="nomPrestataire">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="coutPrestation" th:text="#{_coutPrestation}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coutPrestation" name="coutPrestation">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_prestation" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_prestation" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_prestataire" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_typePrestation}"></th>
											<th th:text="#{_nomPrestataire}"></th>
											<th th:text="#{_coutPrestation}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="prestataire : ${forage.prestataires}">
											<td th:text="${prestataire.typePrestation.libelle}"></td>
											<td th:text="${prestataire.nomPrestataire}"></td>
											<td th:text="${prestataire.coutPrestation}"></td>
											<td align="center" > 
												<button th:attr="code=${prestataire.code},typePrestation=${prestataire.typePrestation.code},nomPrestataire=${prestataire.nomPrestataire},coutPrestation=${prestataire.coutPrestation}"  class="btn_edit_prestataire btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:attr="code=${prestataire.code},typePrestation=${prestataire.typePrestation.code},nomPrestataire=${prestataire.nomPrestataire},coutPrestation=${prestataire.coutPrestation}"  class="btn_delete_prestataire btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        <div class="tab-pane fade" id="etape6">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="dateObservation" th:text="#{_dateObservation}"> <span class="text-danger">*</span></label>
									<input type="date"  class="form-control" id="dateObservation" name="dateObservation">
								</div>
								<div class="form-group">
									<label for="heureObservation" th:text="#{_heureObservation}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="heureObservation" name="heureObservation">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="form-group">
									<label for="profondeurPiezo" th:text="#{_profondeurPiezo}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="profondeurPiezo" name="profondeurPiezo">
								</div>
								<div class="form-group">
									<label for="hauteurPiezo" th:text="#{_hauteurPiezo}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="hauteurPiezo" name="hauteurPiezo">
								</div>
							</div>
							
							<div class="col-lg-2" style="margin-top:30px">
								
								<button id="btn_valide_piezometre" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_piezometre" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_piezometre" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_dateObservation}"></th>
											<th th:text="#{_heureObservation}"></th>
											<th th:text="#{_profondeurPiezo}"></th>
											<th th:text="#{_hauteurPiezo}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="piezometre : ${forage.piezometres}">
											<td th:text="${piezometre.dateObservation}"></td>
											<td th:text="${piezometre.heureObservation}"></td>
											<td th:text="${piezometre.profondeurPiezo}"></td>
											<td th:text="${piezometre.hauteurPiezo}"></td>
											<td align="center" > 
												<button th:attr="code=${piezometre.code},dateObservation=${piezometre.dateObservation},heureObservation=${piezometre.heureObservation},profondeurPiezo=${piezometre.profondeurPiezo},hauteurPiezo=${piezometre.hauteurPiezo}"  class="btn_edit_piezometre btn_edit_descriptionGeologique btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:attr="code=${piezometre.code},dateObservation=${piezometre.dateObservation},heureObservation=${piezometre.heureObservation},profondeurPiezo=${piezometre.profondeurPiezo},hauteurPiezo=${piezometre.hauteurPiezo}"  class="btn_delete_piezometre btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
			        </div>
			        <div class="tab-pane fade" id="etape7">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="typeAnalyse" th:text="#{_typeAnalyse}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="typeAnalyse" name="typeAnalyse">
										<option value="">Choisir une option</option>
										<option th:each="typeAnalyse : ${typeAnalyses}" th:attr="value=${typeAnalyse.code}"  th:text="${typeAnalyse.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="laboratoireAnalyse" th:text="#{_laboratoireAnalyse}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="laboratoireAnalyse" name="laboratoireAnalyse">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="dateEchantillonage" th:text="#{_dateEchantillonage}"> <span class="text-danger">*</span></label>
									<input type="date"  class="form-control" id="dateEchantillonage" name="dateEchantillonage">
								</div>
								<div class="form-group">
									<label for="echantillonnePar" th:text="#{_echantillonnePar}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="echantillonnePar" name="echantillonnePar">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="dateAnalyse" th:text="#{_dateAnalyse}"> <span class="text-danger">*</span></label>
									<input type="date"  class="form-control" id="dateAnalyse" name="dateAnalyse">
								</div>
								<div class="form-group">
									<label for="nomChimiste" th:text="#{_nomChimiste}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nomChimiste" name="nomChimiste">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="observations" th:text="#{_observations}"></label>
									<textarea rows="4"  class="form-control" id="observations" name="observations"></textarea>
									
								</div>
								
							</div>
							
							<div class="col-lg-12 text-right">
								<hr/>
								<button id="btn_valide_analyse" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_analyse" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_analyse" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_typeAnalyse}"></th>
											<th th:text="#{_laboratoireAnalyse}"></th>
											<th th:text="#{_dateAnalyse}"></th>
											<th th:text="#{_nomChimiste}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="analyse : ${analyses}">
											<td th:text="${analyse.typeAnalyse}"></td>
											<td th:text="${analyse.laboratoireAnalyse}"></td>
											<td th:text="${analyse.dateAnalyse}"></td>
											<td th:text="${analyse.nomChimiste}"></td>
											<td align="center"> 
												<a th:href="@{/updateAnalyse/{code}(code=${analyse.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteAnalyse/'+analyse.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
			        </div>
			        
			        
			        <div class="tab-pane fade" id="etape8">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="etatOuvrage" th:text="#{_etatOuvrage}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="etatOuvrage" name="etatOuvrage">
										<option value="">Choisir une option</option>
										<option th:each="etatOuvrage : ${etatOuvrages}" th:attr="value=${etatOuvrage.code}"  th:text="${etatOuvrage.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									
									<label for="AEPAlimente" th:text="#{_AEPAlimente}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="AEPAlimente" name="AEPAlimente">
										<option value="">Choisir une option</option>
										<option th:each="aep : ${aeps}" th:attr="value=${aep.code}"  th:text="${aep.libelle}"></option>
									</select>
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<div class="form-group">
										<label for="commentaire" th:text="#{_commentaire}"> <span class="text-danger">*</span></label>
										<input type="text"  class="form-control" id="commentaire" name="commentaire">
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_informations_complementaires" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_informations_complementaires" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
			        </div>
			    </div>    
	            
	        </div>
		</div>
		<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
		<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>
		<script>
			$(document).ready(function () {
				$('#btn_import_forage').click(function(){
					alert("ok");
					$.get('/importForage',function(dat){
						$('#popup').html(dat);
						$("#myModal").modal('show');
					});
					
				});
				$("#select_region" ).change(function(){
					code = $("#select_region option:selected").val();
					$.get('/getZoneByParentCode/'+code,function(dat){
						$('#select_departement').html(dat);
						$('#select_commune').html('<option value="">Vide</option>');
						$('#select_localite').html('<option value="">Vide</option>');
					});
				});
				
				$("#select_departement" ).change(function(){
					code = $("#select_departement option:selected").val();
					$.get('/getZoneByParentCode/'+code,function(dat){
						$('#select_commune').html(dat);
						$('#select_localite').html('<option value="">Vide</option>');
					});
				});
				
				$("#select_commune").change(function(){
					code = $("#select_commune option:selected").val();
					$.get('/getLocaliteByParentCode/'+code,function(dat){
						$('#select_localite').html(dat);
					});
				});
				$("#btn_valide_informations_generales").click(function(){
					nomPEM = $('#etape1 #nomPEM').val();
					numeroIRH = $('#etape1 #numeroIRH').val();
					anneeRealisation = $('#etape1 #anneeRealisation').val();
					latitude = $('#etape1 #latitude').val();
					longitude = $('#etape1 #longitude').val();
					codeFinancement = $('#etape1 #codeFinancement option:selected').val();
					codeProjet = $('#etape1 #codeProjet option:selected').val();
					codeLocalite = $('#etape1 #codeLocalite option:selected').val();
					foragePositif = $('input[name=foragePositif]:checked').val();
					dateDemarrageForation = $('#etape1 #dateDemarrageForation').val();
					dateFinForation = $('#etape1 #dateFinForation').val();
					profondeurTotaleForee = $('#etape1 #profondeurTotaleForee').val();
					profondeurTotaleEquipee = $('#etape1 #profondeurTotaleEquipee').val();
					profondeurNiveauStatique = $('#etape1 #profondeurNiveauStatique').val();
					dateMesure = $('#etape1 #dateMesure').val();
					hauteurMargelle = $('#etape1 #hauteurMargelle').val();
					autreInfoMargelle = $('#etape1 #autreInfoMargelle').val();
					developpementEffectue = $('input[name=developpementEffectue]:checked').val();
					debitAuSoufflage = $('#etape1 #debitAuSoufflage').val();
					essaiSimplifieDureePompage = $('#etape1 #essaiSimplifieDureePompage').val();
					essaiSimplifieRabattementMesure = $('#etape1 #essaiSimplifieRabattementMesure').val();
					essaiSimplifieDebitMaximumEstime = $('#etape1 #essaiSimplifieDebitMaximumEstime').val();
					essaiLongueDureeDureePompage = $('#etape1 #essaiLongueDureeDureePompage').val();
					essaiLongueDureeRabattementMesure = $('#etape1 #essaiLongueDureeRabattementMesure').val();
					essaiLongueDureeDebitMaximumEstime = $('#etape1 #essaiLongueDureeDebitMaximumEstime').val();
					codeTypeUsage = $('#etape1 #codeTypeUsage option:selected').val();
					codePropriete = $('#etape1 #codePropriete option:selected').val();
					
					renseignementDivers = $('#etape1 #renseignementDivers').val();
					idForage = $('#idForage').val();
					if(true)
						{
							$.post('/forageInfosGenerales/'+idForage,{"numeroIRH":numeroIRH,"nomPEM":nomPEM,"anneeRealisation":anneeRealisation,"latitude":latitude,"longitude":longitude,"codeFinancement":codeFinancement,"codeProjet":codeProjet,"codeLocalite":codeLocalite,"foragePositif":foragePositif,"dateDemarrageForation":dateDemarrageForation,"dateFinForation":dateFinForation,"profondeurTotaleForee":profondeurTotaleForee,"profondeurTotaleEquipee":profondeurTotaleEquipee,"profondeurNiveauStatique":profondeurNiveauStatique,"dateMesure":dateMesure,"hauteurMargelle":hauteurMargelle,"autreInfoMargelle":autreInfoMargelle,"developpementEffectue":developpementEffectue,"debitAuSoufflage":debitAuSoufflage,"essaiSimplifieDureePompage":essaiSimplifieDureePompage,"essaiSimplifieRabattementMesure":essaiSimplifieRabattementMesure,"essaiSimplifieDebitMaximumEstime":essaiSimplifieDebitMaximumEstime,"essaiLongueDureeDureePompage":essaiLongueDureeDureePompage,"essaiLongueDureeRabattementMesure":essaiLongueDureeRabattementMesure,"essaiLongueDureeDebitMaximumEstime":essaiLongueDureeDebitMaximumEstime,"codeTypeUsage":codeTypeUsage,"codePropriete":codePropriete,"codeTypeAmenagement":codeTypeAmenagement,"renseignementDivers":renseignementDivers},function(code){
								msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
											+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
												+'<span aria-hidden="true">&times;</span>'
											+'</button>'
											+' <i class="mdi mdi-information"></i>'
									 		+'Opération effectuée avec succès'
									+'</div>';
									
									$('#operationStatus').html(msg);
									window.scrollTo({ top: 0, behavior: 'smooth' });
								});
						}
				});
				
				
				
				$("#btn_valide_equipementForage").click(function(){
					idForage = $('#idForage').val();
					code = $('#etape2 #code').val();
					coteSuperieure = $('#etape2 #coteSuperieure').val();
					coteInferieure = $('#etape2 #coteInferieure').val();
					codeNatureTube = $('#etape2 #codeNatureTube').val();
					codeTypeTube = $('#etape2 #codeTypeTube').val();
					diametre = $('#etape2 #diametre').val();
					if(code =="")
					{
						$.post('/forageEquipementForage/'+idForage,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeNatureTube":codeNatureTube,"codeTypeTube":codeTypeTube,"diametre":diametre},function(dat){
							$("#table_equipementForage tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape2 #coteSuperieure').val("");
							$('#etape2 #coteInferieure').val("");
							$('#etape2 #codeNatureTube').val("");
							$('#etape2 #codeTypeTube').val("");
							$('#etape2 #diametre').val("");
							$('#etape2 #code').val("");
							
							$(".btn_edit_equipementForage").click(function(){
								idForage = $('#idForage').val();
								coteSuperieure = $(this).attr("coteSuperieure");
								coteInferieure = $(this).attr("coteInferieure");
								codeNatureTube = $(this).attr("codeNatureTube");
								codeTypeTube = $(this).attr("codeTypeTube");
								diametre = $(this).attr("diametre");
								code = $(this).attr("code");
								
								$('#etape2 #code').val(code);
								$('#etape2 #coteSuperieure').val(coteSuperieure);
								$('#etape2 #coteInferieure').val(coteInferieure);
								$('#etape2 #codeNatureTube').val(codeNatureTube).change();
								$('#etape2 #codeTypeTube').val(codeTypeTube).change();
								$('#etape2 #diametre').val(diametre);
								
							});
						});
				
					}else
					{
						$.post('/updateForageEquipementForage/'+code,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeNatureTube":codeNatureTube,"codeTypeTube":codeTypeTube,"diametre":diametre},function(dat){
							$("#table_descriptionGeologique tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape2 #coteSuperieure').val("");
							$('#etape2 #coteInferieure').val("");
							$('#etape2 #codeNatureTube').val("");
							$('#etape2 #codeTypeTube').val("");
							$('#etape2 #diametre').val("");
							$('#etape2 #code').val("");
							
							$(".btn_edit_equipementForage").click(function(){
								idForage = $('#idForage').val();
								coteSuperieure = $(this).attr("coteSuperieure");
								coteInferieure = $(this).attr("coteInferieure");
								codeNatureTube = $(this).attr("codeNatureTube");
								codeTypeTube = $(this).attr("codeTypeTube");
								diametre = $(this).attr("diametre");
								code = $(this).attr("code");
								
								$('#etape2 #code').val(code);
								$('#etape2 #coteSuperieure').val(coteSuperieure);
								$('#etape2 #coteInferieure').val(coteInferieure);
								$('#etape2 #codeNatureTube').val(codeNatureTube).change();
								$('#etape2 #codeTypeTube').val(codeTypeTube).change();
								$('#etape2 #diametre').val(diametre);
								
							});
						});
						
					}
				});
				
				$(".btn_edit_equipementForage").click(function(){
					idForage = $('#idForage').val();
					coteSuperieure = $(this).attr("coteSuperieure");
					coteInferieure = $(this).attr("coteInferieure");
					codeNatureTube = $(this).attr("codeNatureTube");
					codeTypeTube = $(this).attr("codeTypeTube");
					diametre = $(this).attr("diametre");
					code = $(this).attr("code");
					
					$('#etape2 #code').val(code);
					$('#etape2 #coteSuperieure').val(coteSuperieure);
					$('#etape2 #coteInferieure').val(coteInferieure);
					$('#etape2 #codeNatureTube').val(codeNatureTube).change();
					$('#etape2 #codeTypeTube').val(codeTypeTube).change();
					$('#etape2 #diametre').val(diametre);
					
				});
				
				$("#btn_valide_pompeInstalle").click(function(){
					idForage = $('#idForage').val();
					code = $('#etape3 #code').val();
					codeModelePompe = $('#etape3 #codeModelePompe').val();
					codeMarquePompe = $('#etape3 #codeMarquePompe').val();
					dateInstallationPompe = $('#etape3 #dateInstallationPompe').val();
					if(code =="")
					{
						$.post('/foragePompeInstalle/'+idForage,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeModelePompe":codeModelePompe,"codeMarquePompe":codeMarquePompe,"dateInstallationPompe":dateInstallationPompe},function(dat){
							$("#table_pompeInstalle tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape3 #codeModelePompe').val("");
							$('#etape3 #codeMarquePompe').val("");
							$('#etape3 #dateInstallationPompe').val("");
							$('#etape3 #code').val("");
							
							$(".btn_edit_pompeInstalle").click(function(){
								idForage = $('#idForage').val();
								codeModelePompe = $(this).attr("codeModelePompe");
								codeMarquePompe = $(this).attr("codeMarquePompe");
								dateInstallationPompe = $(this).attr("dateInstallationPompe");
								code = $(this).attr("code");
								
								$('#etape3 #code').val(code);
								$('#etape3 #codeModelePompe').val(codeModelePompe).change();
								$('#etape3 #codeMarquePompe').val(codeMarquePompe).change();
								$('#etape3 #dateInstallationPompe').val(dateInstallationPompe);
								
							});
						});
				
					}else
					{
						$.post('/updateForagePompeInstalle/'+code,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeModelePompe":codeModelePompe,"codeMarquePompe":codeMarquePompe,"dateInstallationPompe":dateInstallationPompe},function(dat){
							$("#table_descriptionGeologique tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape3 #codeModelePompe').val("");
							$('#etape3 #codeMarquePompe').val("");
							$('#etape3 #dateInstallationPompe').val("");
							$('#etape3 #code').val("");
							
							$(".btn_edit_pompeInstalle").click(function(){
								idForage = $('#idForage').val();
								codeModelePompe = $(this).attr("codeModelePompe");
								codeMarquePompe = $(this).attr("codeMarquePompe");
								dateInstallationPompe = $(this).attr("dateInstallationPompe");
								code = $(this).attr("code");
								
								$('#etape3 #code').val(code);
								$('#etape3 #codeModelePompe').val(codeModelePompe).change();
								$('#etape3 #codeMarquePompe').val(codeMarquePompe).change();
								$('#etape3 #dateInstallationPompe').val(dateInstallationPompe);
								
							});
						});
						
					}
				});
				
				$(".btn_edit_pompeInstalle").click(function(){
					idForage = $('#idForage').val();
					codeModelePompe = $(this).attr("codeModelePompe");
					codeMarquePompe = $(this).attr("codeMarquePompe");
					dateInstallationPompe = $(this).attr("dateInstallationPompe");
					code = $(this).attr("code");
					
					$('#etape3 #code').val(code);
					$('#etape3 #codeModelePompe').val(codeModelePompe).change();
					$('#etape3 #codeMarquePompe').val(codeMarquePompe).change();
					$('#etape3 #dateInstallationPompe').val(dateInstallationPompe);
					
				});
				
				
				$("#btn_valide_description_geologique").click(function(){
					idForage = $('#idForage').val();
					code = $('#etape4 #code').val();
					coteSuperieure = $('#etape4 #coteSuperieure').val();
					coteInferieure = $('#etape4 #coteInferieure').val();
					codeNatureSol = $('#etape4 #codeNatureSol').val();
					if(code =="")
					{
						$.post('/forageDescriptionGeologique/'+idForage,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeNatureSol":codeNatureSol},function(dat){
							$("#table_descriptionGeologique tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape4 #coteSuperieure').val("");
							$('#etape4 #coteInferieure').val("");
							$('#etape4 #codeNatureSol').val("");
							$('#etape4 #code').val("");
							
							$(".btn_edit_descriptionGeologique").click(function(){
								idForage = $('#idForage').val();
								coteSuperieure = $(this).attr("coteSuperieure");
								coteInferieure = $(this).attr("coteInferieure");
								codeNatureSol = $(this).attr("codeNatureSol");
								
								$('#etape4 #code').val(idForage+"-"+coteSuperieure+"-"+coteInferieure);
								$('#etape4 #coteSuperieure').val(coteSuperieure);
								$('#etape4 #coteInferieure').val(coteInferieure);
								$('#etape4 #codeNatureSol').val(codeNatureSol).change();
								
							});
						});
				
					}else
					{
						$.post('/updateForageDescriptionGeologique/'+code,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeNatureSol":codeNatureSol},function(dat){
							$("#table_descriptionGeologique tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape4 #coteSuperieure').val("");
							$('#etape4 #coteInferieure').val("");
							$('#etape4 #codeNatureSol').val("");
							$('#etape4 #code').val("");
							
							$(".btn_edit_descriptionGeologique").click(function(){
								idForage = $('#idForage').val();
								coteSuperieure = $(this).attr("coteSuperieure");
								coteInferieure = $(this).attr("coteInferieure");
								codeNatureSol = $(this).attr("codeNatureSol");
								
								$('#etape4 #code').val(idForage+"-"+coteSuperieure+"-"+coteInferieure);
								$('#etape4 #coteSuperieure').val(coteSuperieure);
								$('#etape4 #coteInferieure').val(coteInferieure);
								$('#etape4 #codeNatureSol').val(codeNatureSol).change();
								
							});
						});
						
					}
				});
				
				$(".btn_edit_descriptionGeologique").click(function(){
					idForage = $('#idForage').val();
					coteSuperieure = $(this).attr("coteSuperieure");
					coteInferieure = $(this).attr("coteInferieure");
					codeNatureSol = $(this).attr("codeNatureSol");
					
					$('#etape4 #code').val(code);
					$('#etape4 #coteSuperieure').val(coteSuperieure);
					$('#etape4 #coteInferieure').val(coteInferieure);
					$('#etape4 #codeNatureSol').val(codeNatureSol).change();
					
				});
				
				$("#btn_valide_prestation").click(function(){
					idForage = $('#idForage').val();
					code = $('#etape5 #code').val();
					nomPrestataire = $('#etape5 #nomPrestataire').val();
					coutPrestation = $('#etape5 #coutPrestation').val();
					codeTypePrestation = $('#etape5 #codeTypePrestation').val();
					if(code =="")
					{
						$.post('/foragePrestataire/'+idForage,{"nomPrestataire":nomPrestataire,"coutPrestation":coutPrestation,"codeTypePrestation":codeTypePrestation},function(dat){
							$("#table_prestataire tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape5 #nomPrestataire').val("");
							$('#etape5 #coutPrestation').val("");
							$('#etape5 #codeTypePrestation').val("");
							$('#etape5 #code').val("");
							
							$(".btn_edit_prestataire").click(function(){
								idForage = $('#idForage').val();
								nomPrestataire = $(this).attr("nomPrestataire");
								coutPrestation = $(this).attr("coutPrestation");
								codeTypePrestation = $(this).attr("codeTypePrestation");
								code = $(this).attr("code");
								
								$('#etape5 #code').val(code);
								$('#etape5 #nomPrestataire').val(nomPrestataire);
								$('#etape5 #coutPrestation').val(coutPrestation);
								$('#etape5 #codeTypePrestation').val(codeTypePrestation).change();
								
							});
						});
				
					}else
					{
						$.post('/updateForagePrestataire/'+code,{"nomPrestataire":nomPrestataire,"coutPrestation":coutPrestation,"codeTypePrestation":codeTypePrestation},function(dat){
							$("#table_prestataire tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape5 #nomPrestataire').val("");
							$('#etape5 #coutPrestation').val("");
							$('#etape5 #codeTypePrestation').val("");
							$('#etape5 #code').val("");
							
							$(".btn_edit_prestataire").click(function(){
								idForage = $('#idForage').val();
								nomPrestataire = $(this).attr("nomPrestataire");
								coutPrestation = $(this).attr("coutPrestation");
								codeTypePrestation = $(this).attr("codeTypePrestation");
								code = $(this).attr("code");
								
								$('#etape5 #code').val(code);
								$('#etape5 #nomPrestataire').val(nomPrestataire);
								$('#etape5 #coutPrestation').val(coutPrestation);
								$('#etape5 #codeTypePrestation').val(codeTypePrestation).change();
								
							});
						});
						
					}
				});
				
				$(".btn_edit_prestataire").click(function(){
					idForage = $('#idForage').val();
					nomPrestataire = $(this).attr("nomPrestataire");
					coutPrestation = $(this).attr("coutPrestation");
					codeTypePrestation = $(this).attr("codeTypePrestation");
					
					$('#etape5 #code').val(idForage+"-"+nomPrestataire+"-"+coutPrestation);
					$('#etape5 #nomPrestataire').val(nomPrestataire);
					$('#etape5 #coutPrestation').val(coutPrestation);
					$('#etape5 #codeTypePrestation').val(codeTypePrestation).change();
					
				});
				
				
				
				$("#btn_valide_piezometre").click(function(){
					idForage = $('#idForage').val();
					code = $('#etape6 #code').val();
					dateObservation = $('#etape6 #dateObservation').val();
					heureObservation = $('#etape6 #heureObservation').val();
					profondeurPiezo = $('#etape6 #profondeurPiezo').val();
					hauteurPiezo = $('#etape6 #hauteurPiezo').val();
					
					if(code =="")
					{
						$.post('/foragePiezometre/'+idForage,{"dateObservation":dateObservation,"heureObservation":heureObservation,"profondeurPiezo":profondeurPiezo,"hauteurPiezo":hauteurPiezo},function(dat){
							$("#table_piezometre tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape6 #dateObservation').val("");
							$('#etape6 #heureObservation').val("");
							$('#etape6 #profondeurPiezo').val("");
							$('#etape6 #hauteurPiezo').val("");
							
							$(".btn_edit_piezometre").click(function(){
								idForage = $('#idForage').val();
								dateObservation = $(this).attr("dateObservation");
								heureObservation = $(this).attr("heureObservation");
								profondeurPiezo = $(this).attr("profondeurPiezo");
								hauteurPiezo = $(this).attr("hauteurPiezo");
								code = $(this).attr("code");
								
								$('#etape6 #code').val(code);
								$('#etape6 #dateObservation').val(dateObservation);
								$('#etape6 #heureObservation').val(heureObservation);
								$('#etape6 #profondeurPiezo').val(profondeurPiezo);
								$('#etape6 #hauteurPiezo').val(hauteurPiezo);
								
							});
						});
				
					}else
					{
						$.post('/updateForagePiezometre/'+code,{"dateObservation":dateObservation,"heureObservation":heureObservation,"profondeurPiezo":profondeurPiezo,"hauteurPiezo":hauteurPiezo},function(dat){
							$("#table_piezometre tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape6 #dateObservation').val("");
							$('#etape6 #heureObservation').val("");
							$('#etape6 #profondeurPiezo').val("");
							$('#etape6 #hauteurPiezo').val("");
							
							$(".btn_edit_piezometre").click(function(){
								idForage = $('#idForage').val();
								dateObservation = $(this).attr("dateObservation");
								heureObservation = $(this).attr("heureObservation");
								profondeurPiezo = $(this).attr("profondeurPiezo");
								hauteurPiezo = $(this).attr("hauteurPiezo");
								code = $(this).attr("code");
								
								$('#etape6 #code').val(code);
								$('#etape6 #dateObservation').val(dateObservation);
								$('#etape6 #heureObservation').val(heureObservation);
								$('#etape6 #profondeurPiezo').val(profondeurPiezo);
								$('#etape6 #hauteurPiezo').val(hauteurPiezo);
								
							});
						});
						
					}
				});
				
				$(".btn_edit_piezometre").click(function(){
					idForage = $('#idForage').val();
					dateObservation = $(this).attr("dateObservation");
					heureObservation = $(this).attr("heureObservation");
					profondeurPiezo = $(this).attr("profondeurPiezo");
					hauteurPiezo = $(this).attr("hauteurPiezo");
					code = $(this).attr("code");
					
					$('#etape6 #code').val(code);
					$('#etape6 #dateObservation').val(dateObservation);
					$('#etape6 #heureObservation').val(heureObservation);
					$('#etape6 #profondeurPiezo').val(profondeurPiezo);
					$('#etape6 #hauteurPiezo').val(hauteurPiezo);
					
				});
				
				
			});
		</script>
	</div>
	
</body>
</html>