<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div class="row">
			<input type="hidden" id="idPuits" name ="idPuits" th:attr="value=${puits.code}">
			<div class="col-12">
				<div id="operationStatus"> </div>
	           <ul class="nav nav-tabs" id="etape">
			        <li class="nav-item">
			           <a href="#etape1" tab_id="1" class="nav-link" data-toggle="tab"> <i class="mdi mdi-information" style="padding-right:10px"></i>Infos générales</a>
			        </li>
			        <li class="nav-item">
			            <a href="#etape2" tab_id="2" class="nav-link" data-toggle="tab"><i class="mdi mdi-map" style="padding-right:10px"></i>Description géologique</a>
			        </li>
			        
			        <li class="nav-item">
			           <a href="#etape3" tab_id="3" class="nav-link" data-toggle="tab"> <i class="mdi mdi-test-tube" style="padding-right:10px"></i>Qualité de l'eau</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape4" tab_id="4" class="nav-link" data-toggle="tab"> <i class="mdi mdi-account" style="padding-right:10px"></i>Prestataires</a>
			        </li>
			    </ul>
			    
			    <div class="tab-content">
			        <div class="tab-pane fade" id="etape1">
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="numeroIRH" th:text="#{_numeroIRH}"> <span class="text-danger">*</span></label>
									<input type="text" id="numeroIRH" name="numeroIRH" class="form-control" th:value="${puits != null && puits.numeroIRH != null}? ${puits.numeroIRH} : ''" />
								</div>
								<div class="form-group">
									<label for="anneeRealisation" th:text="#{_anneeRealisation}"> <span class="text-danger">*</span></label>
									<input type="text" id="anneeRealisation" name="anneeRealisation" class="form-control" th:value="${puits != null && puits.anneeRealisation != null}? ${puits.anneeRealisation} : ''" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
									<input type="text" id="latitude" name="latitude" class="form-control" th:value="${puits != null && puits.latitude != null}? ${puits.latitude} : ''" />
									
								</div>
								<div class="form-group">
									<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
									<input type="text" id="longitude" name="longitude" class="form-control" th:value="${puits != null && puits.longitude != null}? ${puits.longitude} : ''" />
								</div>
							</div>
							<div class="col-lg-3">	
								<div class="form-group">
									<label for="codeFinancement" th:text="#{_financement}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeFinancement" name="codeFinancement">
										<option value="">Choisir une option</option>
										<option th:each="financement : ${financements}" th:attr="value=${financement.code}" th:text="${financement.libelle}" th:selected="${puits.financement != null && puits.financement.code == financement.code}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeProjet" th:text="#{_projet}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeProjet" name="codeProjet">
										<option value="">Choisir une option</option>
										<option th:each="projet : ${projets}" th:attr="value=${projet.code}"  th:text="${projet.libelle}" th:selected="${puits.projet != null && puits.projet.code == projet.code}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">	
								<div class="form-group">
									<label for="codeLocalite" th:text="#{_localite}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeLocalite" name="codeLocalite">
										<option value="">Choisir une option</option>
										<option th:each="localite : ${localites}" th:attr="value=${localite.code}"  th:text="${localite.libelle}" th:selected="${puits.localite != null && puits.localite.code == localite.code}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="typePuits" th:text="#{_typePuits}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="typePuits1" name="typePuits" th:checked="${puits != null && puits.typePuits == true}">
										<label for="typePuits" th:text="#{_PCV}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="2" id="puitsPositif2" name="typePuits" th:checked="${puits != null && puits.typePuits == false}">
										<label for="typePuits" th:text="#{_PCP}"> </label>
									</div>      
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="amenagementSurface" th:text="#{_amenagementSurface}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="amenagementSurface1" name="amenagementSurface" th:checked="${puits != null && puits.amenagementSurface == true}">
										<label for="amenagementSurface" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="amenagementSurface2" name="amenagementSurface" th:checked="${puits != null && puits.amenagementSurface == false}">
										<label for="amenagementSurface" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="antibourbier" th:text="#{_antibourbier}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="antibourbier1" name="antibourbier" th:checked="${puits != null && puits.antibourbier == true}">
										<label for="antibourbier" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="antibourbier2" name="antibourbier" th:checked="${puits != null && puits.antibourbier == false}">
										<label for="antibourbier" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="canalEvacuationEtPuitsPerdu" th:text="#{_canalEvacuationEtPuitsPerdu}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="canalEvacuationEtPuitsPerdu1" name="canalEvacuationEtPuitsPerdu" th:checked="${puits != null && puits.canalEvacuationEtPuitsPerdu == true}">
										<label for="canalEvacuationEtPuitsPerdu" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="canalEvacuationEtPuitsPerdu2" name="canalEvacuationEtPuitsPerdu" th:checked="${puits != null && puits.canalEvacuationEtPuitsPerdu == false}">
										<label for="canalEvacuationEtPuitsPerdu" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="aireAssainie" th:text="#{_aireAssainie}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="aireAssainie1" name="aireAssainie" th:checked="${puits != null && puits.aireAssainie == true}">
										<label for="aireAssainie" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="aireAssainie2" name="aireAssainie" th:checked="${puits != null && puits.aireAssainie == false}">
										<label for="aireAssainie" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="murCloture" th:text="#{_murCloture}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="murCloture1" name="murCloture" th:checked="${puits != null && puits.murCloture == true}">
										<label for="murCloture" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="murCloture2" name="murCloture" th:checked="${puits != null && puits.murCloture == false}">
										<label for="murCloture" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="couvercle" th:text="#{_couvercle}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="couvercle1" name="couvercle" th:checked="${puits != null && puits.couvercle == true}">
										<label for="couvercle" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="couvercle2" name="couvercle" th:checked="${puits != null && puits.couvercle == false}">
										<label for="couvercle" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="puisette" th:text="#{_puisette}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="puisette1" name="puisette" th:checked="${puits != null && puits.puisette == true}">
										<label for="puisette" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="puisette2" name="puisette" th:checked="${puits != null && puits.puisette == false}">
										<label for="puisette" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="fourche" th:text="#{_fourche}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="fourche1" name="fourche" th:checked="${puits != null && puits.fourche == true}">
										<label for="fourche" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="fourche2" name="fourche" th:checked="${puits != null && puits.fourche == false}">
										<label for="fourche" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="developpementEffectueAuCuffat" th:text="#{_developpementEffectueAuCuffat}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="developpementEffectueAuCuffat1" name="developpementEffectueAuCuffat" th:checked="${puits != null && puits.developpementEffectueAuCuffat == true}">
										<label for="developpementEffectueAuCuffat" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="developpementEffectueAuCuffat2" name="developpementEffectueAuCuffat" th:checked="${puits != null && puits.developpementEffectueAuCuffat == false}">
										<label for="developpementEffectueAuCuffat" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="couleurEau" th:text="#{_couleurEau}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="couleurEau1" name="couleurEau" th:checked="${puits != null && puits.couleurEau == true}">
										<label for="couleurEau" th:text="#{_claire}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="couleurEau2" name="couleurEau" th:checked="${puits != null && puits.couleurEau == false}">
										<label for="couleurEau" th:text="#{_trouble}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeTypeExhaure" th:text="#{_typeExhaure}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypeExhaure" name="codeTypeExhaure">
										<option value="">Choisir une option</option>
										<option th:each="typeExhaure : ${typeExhaures}" th:attr="value=${typeExhaure.code}"  th:text="${typeExhaure.libelle}" th:selected="${puits.typeExhaure != null && puits.typeExhaure.code == typeExhaure.code}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="ESCIEHDureePompage" th:text="#{_ESCIEHDureePompage}"> <span class="text-danger">*</span></label>
									<input type="text" id="ESCIEHDureePompage" name="ESCIEHDureePompage" class="form-control" th:value="${puits != null && puits.ESCIEHDureePompage != null}? ${puits.ESCIEHDureePompage} : ''">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="ESCIEHRabattementMesure" th:text="#{_ESCIEHRabattementMesure}"> <span class="text-danger">*</span></label>
									<input type="text" id="ESCIEHRabattementMesure" name="ESCIEHRabattementMesure" class="form-control" th:value="${puits != null && puits.ESCIEHRabattementMesure != null}? ${puits.ESCIEHRabattementMesure} : ''">
								</div>
								<div class="form-group">
									<label for="ESCIEHDebitMaximumEstime" th:text="#{_ESCIEHDebitMaximumEstime}"> <span class="text-danger">*</span></label>
									<input type="text" id="ESCIEHDebitMaximumEstime" name="ESCIEHDebitMaximumEstime" class="form-control" th:value="${puits != null && puits.ESCIEHDebitMaximumEstime != null}? ${puits.ESCIEHDebitMaximumEstime} : ''">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="abreuvoirs" th:text="#{_abreuvoirs}"> <span class="text-danger">*</span></label>
									<input type="text" id="abreuvoirs" name=abreuvoirs class="form-control" th:value="${puits != null && puits.abreuvoirs != null}? ${puits.abreuvoirs} : ''">
								</div>
								<div class="form-group">
									<label for="portique" th:text="#{_portique}"> <span class="text-danger">*</span></label>
									<input type="text" id="portique" name="portique" class="form-control" th:value="${puits != null && puits.portique != null}? ${puits.portique} : ''">
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="profondeurTotale" th:text="#{_profondeurTotale}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurTotale" name="profondeurTotale" class="form-control" th:value="${puits != null && puits.profondeurTotale != null}? ${puits.profondeurTotale} : ''">
								</div>
								<div class="form-group">
									<label for="profondeurCuvelee" th:text="#{_profondeurCuvelee}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurCuvelee" name="profondeurCuvelee" class="form-control" th:value="${puits != null && puits.profondeurCuvelee != null}? ${puits.profondeurCuvelee} : ''">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="diametreCuvelage" th:text="#{_diametreCuvelage}"> <span class="text-danger">*</span></label>
									<input type="text" id="diametreCuvelage" name="diametreCuvelage" class="form-control" th:value="${puits != null && puits.diametreCuvelage != null}? ${puits.diametreCuvelage} : ''">
								</div>
								<div class="form-group">
									<label for="profondeurNiveauStatique" th:text="#{_profondeurNiveauStatique}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurNiveauStatique" name="profondeurNiveauStatique" class="form-control" th:value="${puits != null && puits.profondeurNiveauStatique != null}? ${puits.profondeurNiveauStatique} : ''">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="diametreCaptage" th:text="#{_diametreCaptage}"> <span class="text-danger">*</span></label>
									<input type="text" id="diametreCaptage" name="diametreCaptage" class="form-control" th:value="${puits != null && puits.diametreCaptage != null}? ${puits.diametreCaptage} : ''">
								</div>
								<div class="form-group">
									<label for="nombreBusesCaptage" th:text="#{_nombreBusesCaptage}"> <span class="text-danger">*</span></label>
									<input type="text" id="nombreBusesCaptage" name="nombreBusesCaptage" class="form-control" th:value="${puits != null && puits.nombreBusesCaptage != null}? ${puits.nombreBusesCaptage} : ''">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="profondeurSommetColonneCaptage" th:text="#{_profondeurSommetColonneCaptage}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurSommetColonneCaptage" name="profondeurSommetColonneCaptage" class="form-control" th:value="${puits != null && puits.profondeurSommetColonneCaptage != null}? ${puits.profondeurSommetColonneCaptage} : ''">
								</div>
								<div class="form-group">
									<label for="hauteurCaptage" th:text="#{_hauteurCaptage}"> <span class="text-danger">*</span></label>
									<input type="text" id="hauteurCaptage" name="hauteurCaptage" class="form-control" th:value="${puits != null && puits.hauteurCaptage != null}? ${puits.hauteurCaptage} : ''">
								</div>
							</div>
							
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="hauteurRecouvrement" th:text="#{_hauteurRecouvrement}"> <span class="text-danger">*</span></label>
									<input type="text" id="hauteurRecouvrement" name="hauteurRecouvrement" class="form-control" th:value="${puits != null && puits.hauteurRecouvrement != null}? ${puits.hauteurRecouvrement} : ''">
								</div>
								<div class="form-group">
									<label for="hauteurMassifFiltrant" th:text="#{_hauteurMassifFiltrant}"> <span class="text-danger">*</span></label>
									<input type="text" id="hauteurMassifFiltrant" name="hauteurMassifFiltrant" class="form-control" th:value="${puits != null && puits.hauteurMassifFiltrant != null}? ${puits.hauteurMassifFiltrant} : ''">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="trousseCoupante" th:text="#{_trousseCoupante}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="trousseCoupante1" name="trousseCoupante" th:checked="${puits != null && puits.trousseCoupante == true}">
										<label for="trousseCoupante" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="trousseCoupante2" name="trousseCoupante" th:checked="${puits != null && puits.trousseCoupante == false}">
										<label for="trousseCoupante" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="dalleFond" th:text="#{_dalleFond}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="dalleFond1" name="dalleFond" th:checked="${puits != null && puits.dalleFond == true}">
										<label for="dalleFond" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="dalleFond2" name="dalleFond" th:checked="${puits != null && puits.dalleFond == false}">
										<label for="dalleFond" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="pompeImmergee" th:text="#{_pompeImmergee}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="pompeImmergee1" name="pompeImmergee" th:checked="${puits != null && puits.pompeImmergee == true}">
										<label for="pompeImmergee" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="pompeImmergee2" name="pompeImmergee" th:checked="${puits != null && puits.pompeImmergee == false}">
										<label for="pompeImmergee" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="dateMesure" th:text="#{_dateMesure}"> <span class="text-danger">*</span></label>
									<input type="date" id="dateMesure" name="dateMesure" class="form-control" th:value="${puits != null && puits.dateMesure != null}? ${puits.dateMesure} : ''">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="etatOuvrage" th:text="#{_etatOuvrage}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="etatOuvrage" name="etatOuvrage">
										<option value="">Choisir une option</option>
										<option th:each="etatOuvrage : ${etatOuvrages}" th:attr="value=${etatOuvrage.code}"  th:text="${etatOuvrage.libelle}" th:selected="${puits.etatOuvrage != null && puits.etatOuvrage.code == etatOuvrage.code}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="potabiliteEau" th:text="#{_potabiliteEau}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="potabiliteEau" name="potabiliteEau">
										<option value="">Choisir une option</option>
										<option th:each="potabiliteEau : ${potabiliteEaux}" th:attr="value=${potabiliteEau.code}"  th:text="${potabiliteEau.libelle}" th:selected="${puits.potabiliteEau != null && puits.potabiliteEau.code == potabiliteEau.code}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label for="renseignementDivers" th:text="#{_renseignementDivers}"></label>
									<textarea id="renseignementDivers" name="renseignementDivers"  rows="3" class="form-control" th:text="${puits != null && puits.renseignementDivers != null}? ${puits.renseignementDivers} : ''"></textarea>
								</div>
							</div>
						</div>
						<hr/>
						<div class="form-group text-right mb-0">
							<button id="btn_valide_informations_generales" class="btn btn-primary waves-effect waves-light mr-1" th:text="#{_valider}"></button>
							<button id="btn_reset_informations_generales" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
						</div>
		        	</div>
			        
			        <div class="tab-pane fade" id="etape2">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="coteSuperieure" th:text="#{_coteSuperieure}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coteSuperieure" name="coteSuperieure">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="coteInferieure" th:text="#{_coteInferieure}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coteInferieure" name="coteInferieure">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeNatureSol" th:text="#{_natureSol}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeNatureSol" name="codeNatureSol">
										<option value="">Choisir une option</option>
										<option th:each="natureSol : ${natureSols}" th:attr="value=${natureSol.code}"  th:text="${natureSol.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_description_geologique" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_description_geologique" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_descriptionGeologique" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_coteSuperieure}"></th>
											<th th:text="#{_coteInferieure}"></th>
											<th th:text="#{_natureSol}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="descriptionGeologique : ${puits.descriptionGeologiques}">
											<td th:text="${descriptionGeologique.descriptionGeologiqueKey.coteSuperieure}"></td>
											<td th:text="${descriptionGeologique.descriptionGeologiqueKey.coteInferieure}"></td>
											<td th:if="${descriptionGeologique != null && descriptionGeologique.natureSol != null}" th:text="${descriptionGeologique.natureSol.libelle}"></td>
											<td align="center" > 
												<button th:if="${descriptionGeologique != null && descriptionGeologique.natureSol != null}" th:attr="coteInferieure=${descriptionGeologique.descriptionGeologiqueKey.coteInferieure},coteSuperieure=${descriptionGeologique.descriptionGeologiqueKey.coteSuperieure},codeNatureSol=${descriptionGeologique.natureSol.code}"  class="btn_edit_descriptionGeologique btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:if="${descriptionGeologique != null && descriptionGeologique.natureSol != null}" th:attr="coteInferieure=${descriptionGeologique.descriptionGeologiqueKey.coteInferieure},coteSuperieure=${descriptionGeologique.descriptionGeologiqueKey.coteSuperieure},codeNatureSol=${descriptionGeologique.natureSol.code}"  class="btn_delete_descriptionGeologique btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
			        </div>
			        
			        <div class="tab-pane fade" id="etape3">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="typeAnalyse" th:text="#{_typeAnalyse}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="typeAnalyse" name="typeAnalyse">
										<option value="">Choisir une option</option>
										<option th:each="typeAnalyse : ${typeAnalyses}" th:attr="value=${typeAnalyse.code}"  th:text="${typeAnalyse.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="laboratoireAnalyse" th:text="#{_laboratoireAnalyse}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="laboratoireAnalyse" name="laboratoireAnalyse">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="dateEchantillonage" th:text="#{_dateEchantillonage}"> <span class="text-danger">*</span></label>
									<input type="date"  class="form-control" id="dateEchantillonage" name="dateEchantillonage">
								</div>
								<div class="form-group">
									<label for="echantillonnePar" th:text="#{_echantillonnePar}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="echantillonnePar" name="echantillonnePar">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="dateAnalyse" th:text="#{_dateAnalyse}"> <span class="text-danger">*</span></label>
									<input type="date"  class="form-control" id="dateAnalyse" name="dateAnalyse">
								</div>
								<div class="form-group">
									<label for="nomChimiste" th:text="#{_nomChimiste}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nomChimiste" name="nomChimiste">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="observations" th:text="#{_observations}"></label>
									<textarea rows="4"  class="form-control" id="observations" name="observations"></textarea>
									
								</div>
								
							</div>
							
							<div class="col-lg-12 text-right">
								<hr/>
								<button id="btn_valide_analyse" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_analyse" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_analyse" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_typeAnalyse}"></th>
											<th th:text="#{_laboratoireAnalyse}"></th>
											<th th:text="#{_dateAnalyse}"></th>
											<th th:text="#{_nomChimiste}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="analyse : ${analyses}">
											<td th:text="${analyse.typeAnalyse}"></td>
											<td th:text="${analyse.laboratoireAnalyse}"></td>
											<td th:text="${analyse.dateAnalyse}"></td>
											<td th:text="${analyse.nomChimiste}"></td>
											<td align="center"> 
												<a th:href="@{/updateAnalyse/{code}(code=${analyse.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteAnalyse/'+analyse.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
			        </div>
			        <div class="tab-pane fade" id="etape4">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="hidden" id="code" name ="code" />
									<label for="codeTypePrestation" th:text="#{_typePrestation}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypePrestation" name="codeTypePrestation">
										<option value="">Choisir une option</option>
										<option th:each="typePrestation : ${typePrestations}" th:attr="value=${typePrestation.code}"  th:text="${typePrestation.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="nomPrestataire" th:text="#{_nomPrestataire}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nomPrestataire" name="nomPrestataire">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="coutPrestation" th:text="#{_coutPrestation}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="coutPrestation" name="coutPrestation">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_prestation" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_prestation" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_prestataire" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_typePrestation}"></th>
											<th th:text="#{_nomPrestataire}"></th>
											<th th:text="#{_coutPrestation}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="prestataire : ${puits.prestataires}">
											<td th:text="${prestataire.typePrestation.libelle}"></td>
											<td th:text="${prestataire.nomPrestataire}"></td>
											<td th:text="${prestataire.coutPrestation}"></td>
											<td align="center" > 
												<button th:attr="code=${prestataire.code},typePrestation=${prestataire.typePrestation.code},nomPrestataire=${prestataire.nomPrestataire},coutPrestation=${prestataire.coutPrestation}"  class="btn_edit_prestataire btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i> <span th:text="#{_modifier}"></span></button>
												<button th:attr="code=${prestataire.code},typePrestation=${prestataire.typePrestation.code},nomPrestataire=${prestataire.nomPrestataire},coutPrestation=${prestataire.coutPrestation}"  class="btn_delete_prestataire btn btn-danger btn-xs"><i class="mdi mdi-trash-can-outline"></i> <span th:text="#{_supprimer}"></span></button>

											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        
			    </div>    
	            
	        </div>
		</div>
		<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
		<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>
		<script>
			$(document).ready(function () {
				$("#btn_valide_informations_generales").click(function(){
					
					numeroIRH = $('#etape1 #numeroIRH').val();
					anneeRealisation = $('#etape1 #anneeRealisation').val();
					latitude = $('#etape1 #latitude').val();
					longitude = $('#etape1 #longitude').val();
					codeFinancement = $('#etape1 #codeFinancement option:selected').val();
					codeProjet = $('#etape1 #codeProjet option:selected').val();
					codeLocalite = $('#etape1 #codeLocalite option:selected').val();
					typePuits = $('input[name=typePuits]:checked').val();
					amenagementSurface= $('input[name=amenagementSurface]:checked').val();
					antibourbier= $('input[name=antibourbier]:checked').val();
					canalEvacuationEtPuitsPerdu= $('input[name=canalEvacuationEtPuitsPerdu]:checked').val();
					aireAssainie= $('input[name=aireAssainie]:checked').val();
					murCloture= $('input[name=murCloture]:checked').val();
					couvercle= $('input[name=couvercle]:checked').val();
					puisette= $('input[name=puisette]:checked').val();
					fourche= $('input[name=fourche]:checked').val();
					developpementEffectueAuCuffat= $('input[name=developpementEffectueAuCuffat]:checked').val();
					couleurEau= $('input[name=couleurEau]:checked').val();
					trousseCoupante= $('input[name=trousseCoupante]:checked').val();
					dalleFond= $('input[name=dalleFond]:checked').val();
					pompeImmergee= $('input[name=pompeImmergee]:checked').val();
					dateMesure = $('#etape1 #dateMesure').val();
					hauteurMargelle = '';
					autreInfoMargelle = '';
					codeTypeExhaure = $('#etape1 #codeTypeExhaure').val();
					etatOuvrage = $('#etape1 #etatOuvrage option:selected').val();
					potabiliteEau = $('#etape1 #potabiliteEau option:selected').val();
					ESCIEHDureePompage = $('#etape1 #ESCIEHDureePompage').val();
					ESCIEHRabattementMesure = $('#etape1 #ESCIEHRabattementMesure').val();
					ESCIEHDebitMaximumEstime = $('#etape1 #ESCIEHDebitMaximumEstime').val();
					abreuvoirs = $('#etape1 #abreuvoirs').val();
					portique = $('#etape1 #portique').val();
					profondeurTotale = $('#etape1 #profondeurTotale').val();
					profondeurCuvelee = $('#etape1 #profondeurCuvelee').val();
					diametreCuvelage = $('#etape1 #diametreCuvelage').val();
					profondeurNiveauStatique = $('#etape1 #profondeurNiveauStatique').val();
					diametreCaptage = $('#etape1 #diametreCaptage').val();
					nombreBusesCaptage = $('#etape1 #nombreBusesCaptage').val();
					profondeurSommetColonneCaptage = $('#etape1 #profondeurSommetColonneCaptage').val();
					hauteurCaptage = $('#etape1 #hauteurCaptage').val();
					hauteurRecouvrement = $('#etape1 #hauteurRecouvrement').val();
					hauteurMassifFiltrant = $('#etape1 #hauteurMassifFiltrant').val();
					renseignementDivers = $('#etape1 #renseignementDivers').val();

					idPuits = $('#idPuits').val();
					if(true)
						{
							$.post('/puitsInfosGenerales/'+idPuits,{"numeroIRH":numeroIRH,"anneeRealisation":anneeRealisation,"latitude":latitude,"longitude":longitude,"codeFinancement":codeFinancement,"codeProjet":codeProjet,"codeLocalite":codeLocalite,'typePuits':typePuits,'amenagementSurface':amenagementSurface,'antibourbier':antibourbier,'canalEvacuationEtPuitsPerdu':canalEvacuationEtPuitsPerdu,'aireAssainie':aireAssainie,'murCloture':murCloture,'couvercle':couvercle,'puisette':puisette,'fourche':fourche,'developpementEffectueAuCuffat':developpementEffectueAuCuffat,'couleurEau':couleurEau,'trousseCoupante':trousseCoupante,'dalleFond':dalleFond,'pompeImmergee':pompeImmergee,'dateMesure':dateMesure,"hauteurMargelle":hauteurMargelle,"autreInfoMargelle":autreInfoMargelle,'codeTypeExhaure':codeTypeExhaure,'etatOuvrage':etatOuvrage,'potabiliteEau':potabiliteEau,'ESCIEHDureePompage':ESCIEHDureePompage,'ESCIEHRabattementMesure':ESCIEHRabattementMesure,'ESCIEHDebitMaximumEstime':ESCIEHDebitMaximumEstime,'abreuvoirs':abreuvoirs,'portique':portique,'profondeurTotale':profondeurTotale,'profondeurCuvelee':profondeurCuvelee,'diametreCuvelage':diametreCuvelage,'profondeurNiveauStatique':profondeurNiveauStatique,'diametreCaptage':diametreCaptage,'nombreBusesCaptage':nombreBusesCaptage,'profondeurSommetColonneCaptage':profondeurSommetColonneCaptage,'hauteurCaptage':hauteurCaptage,'hauteurRecouvrement':hauteurRecouvrement,'hauteurMassifFiltrant':hauteurMassifFiltrant,'renseignementDivers':renseignementDivers},function(code){
								msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
											+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
												+'<span aria-hidden="true">&times;</span>'
											+'</button>'
											+'<i class="mdi mdi-information"></i>'
									 		+'Opération effectuée avec succès'
									+'</div>';
								 
									$('#etape1 #numeroIRH').val("");
									$('#etape1 #anneeRealisation').val("");
									$('#etape1 #latitude').val("");
									$('#etape1 #longitude').val("");
									$('#etape1 #codeFinancement option:selected').val("");
									$('#etape1 #codeProjet option:selected').val("");
									$('#etape1 #codeLocalite option:selected').val("");
									$('input[name=typePuits]:checked').val('');
									$('input[name=amenagementSurface]:checked').val('');
									$('input[name=antibourbier]:checked').val('');
									$('input[name=canalEvacuationEtPuitsPerdu]:checked').val('');
									$('input[name=aireAssainie]:checked').val('');
									$('input[name=murCloture]:checked').val('');
									$('input[name=couvercle]:checked').val('');
									$('input[name=puisette]:checked').val('');
									$('input[name=fourche]:checked').val('');
									$('input[name=developpementEffectueAuCuffat]:checked').val('');
									$('input[name=couleurEau]:checked').val('');
									$('input[name=trousseCoupante]:checked').val('');
									$('input[name=dalleFond]:checked').val('');
									$('input[name=pompeImmergee]:checked').val('');
									$('#etape1 #dateMesure').val("");
									$('#etape1 #codeTypeExhaure option:selected').val("");
									$('input[name=etatOuvrage]:checked').val('');
									$('input[name=potabiliteEau]:checked').val('');
									$('#etape1 #ESCIEHDureePompage').val('');
									$('#etape1 #ESCIEHRabattementMesure').val('');
									$('#etape1 #ESCIEHDebitMaximumEstime').val('');
									$('#etape1 #abreuvoirs').val('');
									$('#etape1 #portique').val('');
									$('#etape1 #profondeurTotale').val('');
									$('#etape1 #profondeurCuvelee').val('');
									$('#etape1 #diametreCuvelage').val('');
									$('#etape1 #profondeurNiveauStatique').val('');
									$('#etape1 #diametreCaptage').val('');
									$('#etape1 #nombreBusesCaptage').val('');
									$('#etape1 #profondeurSommetColonneCaptage').val('');
									$('#etape1 #hauteurCaptage').val('');
									$('#etape1 #hauteurRecouvrement').val('');
									$('#etape1 #hauteurMassifFiltrant').val('');
									$('#etape1 #renseignementDivers').val('');
									
									$('#operationStatus').html(msg);
									window.scrollTo({ top: 0, behavior: 'smooth' });
								});
						}
				});
				
				$("#btn_valide_description_geologique").click(function(){
					idPuits = $('#idPuits').val();
					code = $('#etape2 #code').val();
					coteSuperieure = $('#etape2 #coteSuperieure').val();
					coteInferieure = $('#etape2 #coteInferieure').val();
					codeNatureSol = $('#etape2 #codeNatureSol').val();
					if(code =="")
					{
						$.post('/puitsDescriptionGeologique/'+idPuits,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeNatureSol":codeNatureSol},function(dat){
							$("#table_descriptionGeologique tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape2 #coteSuperieure').val("");
							$('#etape2 #coteInferieure').val("");
							$('#etape2 #codeNatureSol').val("");
							$('#etape2 #code').val("");
							
							$(".btn_edit_descriptionGeologique").click(function(){
								idPuits = $('#idPuits').val();
								coteSuperieure = $(this).attr("coteSuperieure");
								coteInferieure = $(this).attr("coteInferieure");
								codeNatureSol = $(this).attr("codeNatureSol");
								
								$('#etape2 #code').val(idPuits+"-"+coteSuperieure+"-"+coteInferieure);
								$('#etape2 #coteSuperieure').val(coteSuperieure);
								$('#etape2 #coteInferieure').val(coteInferieure);
								$('#etape2 #codeNatureSol').val(codeNatureSol).change();
								
							});
						});
				
					}else
					{
						$.post('/updatePuitsDescriptionGeologique/'+code,{"coteSuperieure":coteSuperieure,"coteInferieure":coteInferieure,"codeNatureSol":codeNatureSol},function(dat){
							$("#table_descriptionGeologique tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape2 #coteSuperieure').val("");
							$('#etape2 #coteInferieure').val("");
							$('#etape2 #codeNatureSol').val("");
							$('#etape2 #code').val("");
							
							$(".btn_edit_descriptionGeologique").click(function(){
								idPuits = $('#idPuits').val();
								coteSuperieure = $(this).attr("coteSuperieure");
								coteInferieure = $(this).attr("coteInferieure");
								codeNatureSol = $(this).attr("codeNatureSol");
								
								$('#etape2 #code').val(idPuits+"-"+coteSuperieure+"-"+coteInferieure);
								$('#etape2 #coteSuperieure').val(coteSuperieure);
								$('#etape2 #coteInferieure').val(coteInferieure);
								$('#etape2 #codeNatureSol').val(codeNatureSol).change();
								
							});
						});
						
					}
				});
				
				$(".btn_edit_descriptionGeologique").click(function(){
					idPuits = $('#idPuits').val();
					coteSuperieure = $(this).attr("coteSuperieure");
					coteInferieure = $(this).attr("coteInferieure");
					codeNatureSol = $(this).attr("codeNatureSol");
					
					$('#etape2 #code').val(code);
					$('#etape2 #coteSuperieure').val(coteSuperieure);
					$('#etape2 #coteInferieure').val(coteInferieure);
					$('#etape2 #codeNatureSol').val(codeNatureSol).change();
					
				});
				
				$("#btn_valide_prestation").click(function(){
					idPuits = $('#idPuits').val();
					code = $('#etape4 #code').val();
					nomPrestataire = $('#etape4 #nomPrestataire').val();
					coutPrestation = $('#etape4 #coutPrestation').val();
					codeTypePrestation = $('#etape4 #codeTypePrestation').val();
					if(code =="")
					{
						$.post('/puitsPrestataire/'+idPuits,{"nomPrestataire":nomPrestataire,"coutPrestation":coutPrestation,"codeTypePrestation":codeTypePrestation},function(dat){
							$("#table_prestataire tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape4 #nomPrestataire').val("");
							$('#etape4 #coutPrestation').val("");
							$('#etape4 #codeTypePrestation').val("");
							$('#etape4 #code').val("");
							
							$(".btn_edit_prestataire").click(function(){
								idPuits = $('#idPuits').val();
								nomPrestataire = $(this).attr("nomPrestataire");
								coutPrestation = $(this).attr("coutPrestation");
								codeTypePrestation = $(this).attr("codeTypePrestation");
								code = $(this).attr("code");
								
								$('#etape4 #code').val(code);
								$('#etape4 #nomPrestataire').val(nomPrestataire);
								$('#etape4 #coutPrestation').val(coutPrestation);
								$('#etape4 #codeTypePrestation').val(codeTypePrestation).change();
								
							});
						});
				
					}else
					{
						$.post('/updatePuitsPrestataire/'+code,{"nomPrestataire":nomPrestataire,"coutPrestation":coutPrestation,"codeTypePrestation":codeTypePrestation},function(dat){
							$("#table_prestataire tbody").html(dat)
							msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
										+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
											+'<span aria-hidden="true">&times;</span>'
										+'</button>'
										+' <i class="mdi mdi-information"></i>'
								 		+'Opération effectuée avec succès'
								+'</div>';
								
							$('#operationStatus').html(msg);
							window.scrollTo({ top: 0, behavior: 'smooth' });
							$('#etape4 #nomPrestataire').val("");
							$('#etape4 #coutPrestation').val("");
							$('#etape4 #codeTypePrestation').val("");
							$('#etape4 #code').val("");
							
							$(".btn_edit_prestataire").click(function(){
								idPuits = $('#idPuits').val();
								nomPrestataire = $(this).attr("nomPrestataire");
								coutPrestation = $(this).attr("coutPrestation");
								codeTypePrestation = $(this).attr("codeTypePrestation");
								code = $(this).attr("code");
								
								$('#etape4 #code').val(code);
								$('#etape4 #nomPrestataire').val(nomPrestataire);
								$('#etape4 #coutPrestation').val(coutPrestation);
								$('#etape4 #codeTypePrestation').val(codeTypePrestation).change();
								
							});
						});
						
					}
				});
				
				$(".btn_edit_prestataire").click(function(){
					idPuits = $('#idPuits').val();
					nomPrestataire = $(this).attr("nomPrestataire");
					coutPrestation = $(this).attr("coutPrestation");
					codeTypePrestation = $(this).attr("codeTypePrestation");
					
					$('#etape4 #code').val(idPuits+"-"+nomPrestataire+"-"+coutPrestation);
					$('#etape4 #nomPrestataire').val(nomPrestataire);
					$('#etape4 #coutPrestation').val(coutPrestation);
					$('#etape4 #codeTypePrestation').val(codeTypePrestation).change();
					
				});
				
				
			});
		</script>
	</div>
	
</body>
</html>