<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header titre-page">
				<h2>Enregistrement de l'intervenant</h2>
				<span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<form class="form-material" method="post">
			<div class="card">
				<div class="card-header">
					<h5>Informations générales</h5>
				</div>
				<div class="card-body">
					<div class="row pt-4">
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="denomination" name="denomination" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Dénomination </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<select name="codeTypeIntervenant" class="form-control" data-live-search="true"
									id="codeTypeIntervenant">
									<option value="">Sélectionnez </option>
									<option th:each="typeIntervenant : ${typeIntervenant}"
										th:attr="value=${typeIntervenant.code}" th:text="${typeIntervenant.libelle}">
									</option>
								</select>
								<span class="form-bar"></span>
								<label class="float-label">Type d'intervenant</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="row m-4">
							<div class="col-sm-12 pull-right">
								<button type="submit" class="btn btn-primary m-b-0" id="submit"> <i
										class="fa fa-save"></i>
									Enregistrer </button>
								<a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i>
									Annuler
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<center>
	<h3>Les intervenants </h3>
</center>
<div class="row" style="border: solid 3px #e0e4e7;margin:15px;padding:10px">
	<div class="col-lg-12">
		<table id="tab" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
			<thead>
				<tr>
					<th>Dénomination</th>
					<th>Type d'intervenant</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="intervenant : ${intervenant}">
					<td th:text="${intervenant.denomination}"></td>
					<td th:text="${intervenant.typeIntervenant.libelle"></td>
					<td align="center">
						<a th:href="@{/updateIntervenant/{code}(code=${intervenant.code})}"
							class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span
								th:text="#{_modifier}"></span></a>
						<a href="#" th:attr="deleteLink=${'/deleteIntervenant/'+intervenant.code}" data-toggle="modal"
							data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i
								class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>