<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header titre-page">
				<h2>Modification de l'intervenant</h2>
				<span>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<form class="form-material" method="post">
			<div class="card">
				<div class="card-header">
					<h5>Informations générales</h5>
				</div>
				<div class="card-body">
					<div class="row pt-4">
						<div class="col">
							<div class="form-group form-default form-static-label">
								<input type="text" id="denomination" name="denomination" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Dénomination </label>
							</div>
						</div>
						<div class="col">
							<div class="form-group form-default form-static-label">
								<select name="codeTypeIntervenant" class="form-control" data-live-search="true"
									id="codeTypeIntervenant">
									<option value="">Sélectionnez </option>
									<option th:each="typeIntervenant : ${typeIntervenants}"
										th:attr="value=${typeIntervenant.code}" th:text="${typeIntervenant.libelle}">
									</option>
								</select>
								<span class="form-bar"></span>
								<label class="float-label">Type d'intervenant</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="row m-4">
							<div class="col-sm-12 pull-right">
								<button type="submit" class="btn btn-primary m-b-0" id="submit"> <i
										class="fa fa-save"></i>
									Enregistrer </button>
								<a href="/dashboard" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i>
									Annuler
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>